{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
Confirmação de email / {{ SITE_NAME }}
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="container-sm flex justify-center items-center">
    <div class="p-3 bg-black bg-opacity-75 mb-2 border border-secondary rounded bg-gradient text-dark">
        <div class="z-10 h-full md:py-0 text-gray-100 text-center flex items-center flex-col">

            <p style="max-width: 850px;">Para garantir a proteção de sua conta e assegurar a recuperação da
                senha, solicitamos que confirme o seu endereço de e-mail. Confirme com o link enviado para a sua
                caixa de entrada. Não se esqueça de olhar na sua caixa de spam.
            </p>

            <form action="{% url 'home:Confirmar Email' user_pk %}" method="POST" class="mask-x_form ps-5 pe-5">
                {% csrf_token %}
                {{ form|crispy }}

                <button type="reset" class="btn btn-secondary">Limpar
                </button>
                <button type="submit" class="btn btn-primary">
                    Confirmar
                </button>
            </form>

        </div>
    </div>
</div>
{% endblock %}
