{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
Criar Modelo de Contrato / {{ SITE_NAME }}
{% endblock %}

{% block head %}
<script type="text/javascript" src='{% static "ckeditor/ckeditor-init.js" %}'></script>
<script type="text/javascript" src='{% static "ckeditor/ckeditor/ckeditor.js" %}'></script>
{% endblock %}

{% block content %}
<div class="container-fluid pt-1 text-center text-justify">
    <div class="container bg-black bg-opacity-50 border border-secondary rounded bg-gradient text-dark">
        <div class="container flex justify-center items-center">

            <div class="row flex items-center">

                <div class="col">

                    <div accesskey="q" title="Tecla de atalho: Alt + Q" style="cursor:pointer;"
                         class="position-relative badge bg-secondary text-wrap" data-bs-toggle="offcanvas"
                         data-bs-target="#offcanvasVariaveis" aria-controls="offcanvasScrolling">
                        <ion-icon size="large" name="alert-outline"></ion-icon>
                        <small>Variáveis e</small>
                        <small>Condições</small>
                    </div>

                </div>

                <div class="col">
                    <div class="text-gray-100 text-center flex items-center flex-col">
                        <p class="fs-6">Criar Modelo:</p>
                        <form action="{% url 'home:Criar Modelo' %}" method="POST">
                            {% csrf_token %}
                            {{ form.media }}
                            {{ form|crispy }}
                            <div class="justify-center items-center">
                                <button accesskey="s" title="Tecla de atalho: Alt + Q"
                                        class="mb-1 btn btn-sm bg-blue-600 text-white rounded-md" type="submit">Salvar
                                    Modelo
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col">

                    <div accesskey="q" title="Tecla de atalho: Alt + Q" style="cursor:pointer;"
                         class="position-relative badge bg-secondary text-wrap" data-bs-toggle="offcanvas"
                         data-bs-target="#offcanvasVariaveis" aria-controls="offcanvasScrolling">
                        <ion-icon size="large" name="alert-outline"></ion-icon>
                        <small>Variáveis e</small>
                        <small>Condições</small>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% include 'offcanvas_variaveis.html' %}
{% endblock %}
