{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

<container class="flex justify-center items-center">

    <container class="p-3 bg-black bg-opacity-50 mb-2 border border-secondary rounded bg-gradient text-dark">
        <div class="z-10 h-full py-32 md:py-0 text-gray-100 text-center flex items-center flex-col">
            <form method="post">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Criar grupos para os imóveis:
                        <br><strong>{{ object }}</strong>
                    </legend>
                    {% if grupos %}
                    <table class="table align-middle table-sm table-hover table-bordered border-secondary table-striped table-dark">
                        <thead>
                        <tr>
                            <th scope="col">Nº</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Editar</th>
                            <th scope="col">Apagar</th>
                        </tr>
                        </thead>
                        <tbody>
                        <td colspan="13">
                        </td>
                        {% for grupo in grupos %}
                        <tr>
                            <th scope="col">{{ forloop.counter }}</th>
                            <th scope="col">{{ grupo.nome }}</th>
                            <th scope="col"><a class="link-primary"
                                               href="{% url 'home:Editar Grupo Imóveis' grupo.pk %}">Editar</a>
                            </th>
                            <th scope="col"><a class="link-danger"
                                               href="{% url 'home:Excluir Grupo Imóveis' grupo.pk %}">Excluir</a>
                            </th>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    {% endif %}
                    <br>
                    {% if form %}
                    Criar novo grupo*
                    {{ form|crispy }}
                </fieldset>
                <div class="justify-center items-center">
                    <button class="bg-blue-600 py-1 my-2 px-3 text-white md:text-lg rounded-md" type="submit">
                        Criar
                    </button>
                    {% endif %}
                </div>
            </form>
        </container>
    </div>

</container>

{% endblock %}
