{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
Chat com o desenvolvedor / {{ SITE_NAME }}
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

<div class="container-xxl">
    <div class="z-10 md:py-0 mb-3 text-gray-100 text-center flex items-center flex-col">

        <div class="col g-2 mt-2 w-full">
            <div class="card bg-black bg-opacity-100 border g-2 mt-2">
                <div class="card-header col mx-auto">
                    <div class="row fw-bold fs-4">{{ mensagem.get_tipo_msg_display }}:
                        {{ mensagem.titulo }}
                    </div>
                </div>
                <div class="card-body col">
                    <div class="row fw-bold">Mensagem:</div>
                    <div class="row">{{ mensagem.mensagem }}</div>
                    {% if mensagem.imagem %}
                    <br>
                    <button type="button" data-bs-toggle="modal" data-bs-target="#modal"
                            data-bs-whatever="@mdo" class="border border-white">
                        <img style="text-align:center; vertical-align:middle; max-width:720px;  max-height:480px;"
                             class="mx-auto" src="{{ mensagem.imagem.url }}"/>
                    </button>
                    {% endif %}
                    <br>
                    <div class="row fw-bold">Resposta:</div>
                    <div class="row">{{ mensagem.resposta }}</div>
                    <br>
                    <div class="col text-muted text-end align-text-bottom">
                        <small class="me-1 text-white-50">{{ mensagem.data_registro }}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- MODAL -->
<div class="modal modal-xl fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">

    <div class="modal-dialog modal-dialog-scrollable" style="max-width : 1280px;">
        <div class="modal-content bg-dark bg-opacity-75 border border-white">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <img src="{{ mensagem.imagem.url }}"
                     class="figure-img img-fluid border border-white">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>

</div>

{% endblock %}
