{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
Editor de Modelos / {{ SITE_NAME }}
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<container class="flex justify-center items-center">

    <container class="p-1 bg-black bg-opacity-50 border border-secondary rounded bg-gradient text-dark">
        <div class="z-10 h-full py-32 md:py-0 text-gray-100 text-center flex items-center flex-col">
            <p class="fs-6">Editor de modelos:</p>{{ modelo_atual }}
            <hr width="75%"/>
            <br>
            <form method="POST" class="mask-x_form">
                {% csrf_token %}
                {{ form.media }}
                {{ form|crispy }}
                <button type="button" class="btn btn-sm bg-blue-600 text-white rounded-md">
                    Salvar Modelo
                </button>
            </form>
        </div>

    </container>
</container>

{% endblock %}
