{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
Excluir Conta ⚠️😱 / {{ SITE_NAME }}
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

<div class="flex justify-center items-center">

    <div class="p-3 bg-black bg-opacity-50 mb-2 border border-secondary rounded bg-gradient text-dark">

        <div class="z-10 h-full md:py-0 text-gray-100 text-center flex items-center flex-col">
            <form method="post">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Confirme para excluir a sua conta.
                    </legend>
                    <legend>😱⚠️Todos os seus dados serão excluídos definitivamente⚠️😱
                    </legend>
                    <br><br>
                    {{ form|crispy }}
                </fieldset>
                <div class="justify-center items-center">
                    <button class="bg-red-600 py-1 my-2 px-3 text-white md:text-lg rounded-md" type="submit">
                        <ion-icon size="small" name="trash-outline"></ion-icon>
                        Excluir
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>

{% endblock %}
