{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
Excluir Item / {{ SITE_NAME }}
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

<div class="flex justify-center items-center">

    <div class="p-3 bg-black bg-opacity-50 mb-2 border border-secondary rounded bg-gradient text-dark">

        <div class="z-10 h-full md:py-0 text-gray-100 text-center flex items-center flex-col">
            <form method="post">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Confirme para excluir o item definitivamente
                        {% if object %}
                        <br><strong>{{ object }}</strong>
                        {% endif %}
                        {% if aviso %}
                        <br><br>
                        <h1 class="fs-1">⚠️</h1>
                        <h1 class="text-wrap fs-5 fst-italic" style="width: 60rem;">{{ aviso }}</h1>
                        {% endif %}
                    </legend>
                    {{ form|crispy }}
                </fieldset>
                {% if contratos_modelo %}
                <p>Contratos que usam este modelo:</p>
                {% for contrato in contratos_modelo %}
                {{ contrato }}
                {% endfor %}
                <br><br>
                <small>Você ainda poderá acessar os documentos PDF gerados com este modelo, só não poderá mais usá-lo
                em documentos futuros</small>
                <br>
                <hr>
                <br>
                {% endif %}
                <div class="justify-center items-center">
                    <button class="bg-red-600 py-1 my-2 px-3 text-white md:text-lg rounded-md" type="submit">
                        <ion-icon size="small" name="trash-outline"></ion-icon>
                        Excluir
                    </button>
                    <button class="bg-blue-600 py-1 px-3 text-white md:text-lg rounded-md" type="button"
                            onClick="history.go(-1)">
                        Voltar
                    </button>
                </div>
            </form>
        </div>

    </div>
</div>

{% endblock %}
