{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
Itens Ativos / {{ SITE_NAME }}
{% endblock %}

{% block content %}

{% if imoveis %}

<div class="container-fluid pt-1 text-center text-justify">
    <br>
    <div class="container-xxl">
        <p class="fs-3">Você tem {{ imoveis_qtd }} Imóve{% if imoveis_qtd < 1 %}l{% else %}is{% endif %} Ativos:</p>
        <br>
        <div class="row row-cols-5 row-cols-md-3 g-3">
            {% for imovel in imoveis %}
            <div class="col">
                <div class="card bg-black bg-opacity-75 border-secondary h-100">
                    <div class="card-header text-decoration-underline">{{ page_obj.start_index|add:forloop.counter0 }}.
                        {{ imovel.nome }} - {{ imovel.grupo }}
                    </div>
                    <div class="card-body">
                        <p class="card-text">END.: {{ imovel.endereco_completo }}</p>
                        <p class="card-text">MATRICULA DE ENERGIA: {{ imovel.uc_energia }}</p>
                        <p class="card-text">MATRICULA DE SANEAMENTO: {{ imovel.uc_agua }}</p>
                        <p class="card-text">REGISTRADO EM: {{ imovel.data_registro }}</p>
                        <p class="card-text">COM: {{ imovel.com_locatario }}</p>
                        <p class="card-text">VALOR DO ALUGUEL: {{ imovel.contrato_atual.valor_format }} </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <br>
</div>

{% elif locatarios %}

<div class="container-fluid pt-1  text-center text-justify">
    <br>
    <div class="container-xxl">
        <p class="fs-3">Você tem {{ locatario_qtd }} Locatário{% if locatario_qtd > 1 %}s{% endif %} Ativos:</p>
        <br>
        <div class="row row-cols-5 row-cols-md-3 g-3">
            {% for locatario in locatarios %}
            <div class="col">
                <div class="card bg-black bg-opacity-75 border-secondary h-100">
                    <div class="card-header text-decoration-underline">{{ page_obj.start_index|add:forloop.counter0 }}.
                        {{ locatario.nome }}
                    </div>
                    <div class="card-body">
                        <p class="card-text">OCUPAÇÃO: {{ locatario.ocupacao }}</p>
                        <p class="card-text">RG: {{ locatario.RG }} / CPF: {{ locatario.f_cpf }}</p>
                        <p class="card-text">TELEFONE 1: {{ locatario.f_tel1 }}</p>
                        <p class="card-text">TELEFONE 2: {{ locatario.f_tel2 }}</p>
                        <p class="card-text">EMAIL: {{ locatario.email }}</p>
                        <p class="card-text">NACIONALID.: {{ locatario.nacionalidade }} / EST. CIVIL:
                            {{locatario.get_estadocivil_display }}
                            {% for imovel in locatario.com_imoveis.all %}
                        {% if forloop.counter0 < 4 %}
                        <p class="card-text">COM: {{ imovel }} </p>
                        {% elif forloop.counter0 == 4 %}
                        <p class="card-text">Com: mais {{ locatario.contratos_qtd|add:-4 }} contrato(s).</p>
                        {% else %}
                        {% endif %}
                        {% endfor %}

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <br>
</div>

{% elif contratos %}

<div class="container-fluid pt-1 text-center text-justify">
    <br>
    <div class="container-xxl">
        <p class="fs-3">Você tem {{ contrato_qtd }} Contrato{% if contrato_qtd > 1 %}s{% endif %} Ativos:</p>
        <br>
        <div class="row row-cols-5 row-cols-md-3 g-3">
            {% for contrato in contratos %}
            <div class="col">
                <div class="card bg-black bg-opacity-75 border-secondary h-100">

                    <div class="card-header text-decoration-underline">{{ page_obj.start_index|add:forloop.counter0 }}.
                        {{ contrato }}
                    </div>
                    <div class="card-body">
                        <p class="card-text">DO IMOVEL: {{contrato.do_imovel.nome }} - ({{contrato.do_imovel.grupo }}) -
                            End.: {{contrato.do_imovel.endereco_base }}</p>
                        <p class="card-text">DE: {{ contrato.data_entrada|date:"d/m/Y" }} ATÉ:
                            {{ contrato.data_saida|date:"d/m/Y" }} ({{ contrato.duracao }} meses)</p>
                        <p class="card-text">MENSALIDAE: {{ contrato.valor_format }} / VENCIMENTO DIA:
                            {{contrato.dia_vencimento }}</p>
                        <p class="card-text">VALOR DO CONTRATO: {{ contrato.valor_do_contrato }}</p>
                        <p class="card-text">TOTAL PG: {{ contrato.total_pg_format }} / FALTA:
                            {{ contrato.falta_pg_format }}</p>
                        <p class="card-text"></p>
                        <p class="card-text">CÓDIGO: {{ contrato.codigo }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <br>
</div>

{% else %}
{% include 'bemvindo.html' %}
{% endif %}

{% endblock %}