{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
Itens Ativos / {{ SITE_NAME }}
{% endblock %}

{% block content %}

{% if imoveis %}

<div class="container-fluid pt-1 text-center text-justify">
    <br>
    <div class="container-xxl">
        <p class="fs-3">Você tem {{ imoveis_qtd }} Imóve{% if imoveis_qtd < 1 %}l{% else %}is{% endif %}
            Ativo{% if imoveis_qtd > 1 %}s{% endif %}:</p>
        <br>
        <div class="row row-cols-5 row-cols-md-3 g-3">
            {% for imovel in imoveis %}
            <div class="col">
                <div class="card bg-black text-white bg-opacity-75 border-secondary h-100">
                    <div class="card-header text-decoration-underline fs-5">
                        {{ page_obj.start_index|add:forloop.counter0 }}. {{ imovel.nome }} - {{ imovel.grupo }}
                    </div>
                    <div class="card-body">
                        <p class="card-text"><span class="fw-bold text-primary text-opacity-75">END.:
                        </span> {{ imovel.endereco_completo }}</p>
                        <p class="card-text"><span class="fw-bold text-primary text-opacity-75">MATRICULA DE ENERGIA:
                        </span> {{ imovel.uc_energia }}</p>
                        <p class="card-text"><span class="fw-bold text-primary text-opacity-75">MATRICULA DE SANEAMENTO:
                            {% if imovel.uc_agua %}
                        </span> {{ imovel.uc_agua }}</p>
                        {% else %}
                        </span>---</p>
                        {% endif %}
                        <p class="card-text"><span class="fw-bold text-primary text-opacity-75">REGISTRADO EM:
                        </span> {{ imovel.data_registro }}</p>
                        <p class="card-text" title="Toda a receita desde o cadastro">
                            <span class="fw-bold text-primary text-opacity-75">RECEITA ACUMULADA:</span>
                            {{ imovel.receita_acumulada_format }} </p>
                        <br>
                        <hr>
                        <p class="card-text"><span class="fw-bold text-primary text-opacity-75">COM:</span>
                            {{ imovel.contrato_atual.do_locatario }}</p>
                        <p><span class="fw-bold text-primary text-opacity-75">CONTRATO:
                        </span> {{ imovel.contrato_atual }}</p>
                        <p class="card-text"><span class="fw-bold text-primary text-opacity-75">DE:</span>
                            {{ imovel.contrato_atual.data_entrada }}
                            <span class="fw-bold text-primary text-opacity-75">ATÉ</span>
                            {{ imovel.contrato_atual.data_saida }}</p>
                        <p class="card-text"><span class="fw-bold text-primary text-opacity-75">VALOR DO ALUGUEL:</span>
                            {{ imovel.contrato_atual.valor_format }} </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <br>
</div>

{% elif locatarios %}

<div class="container-fluid pt-1  text-center text-justify">
    <br>
    <div class="container-xxl">
        <p class="fs-3">Você tem {{ locatario_qtd }} Locatário{% if locatario_qtd > 1 %}s{% endif %}
            Ativo{% if locatario_qtd > 1 %}s{% endif %}:</p>
        <br>
        <div class="row row-cols-5 row-cols-md-3 g-3">
            {% for locatario in locatarios %}
            <div class="col">
                <div class="card bg-black text-white bg-opacity-75 border-secondary h-100">
                    <div class="card-header text-decoration-underline fs-5">
                        {{ page_obj.start_index|add:forloop.counter0 }}. {{ locatario.nome }}
                    </div>
                    <div class="card-body">
                        <p class="card-text"><span class="fw-bold text-primary text-opacity-75">
                            OCUPAÇÃO:</span> {{ locatario.ocupacao }}</p>
                        <p class="card-text">
                            <span class="fw-bold text-primary text-opacity-75">RG:</span>
                            {{ locatario.RG }} <span class="fw-bold text-primary text-opacity-75">CPF:</span>
                            {{ locatario.f_cpf }}</p>
                        {% if locatario.endereco_completo %}
                        <p class="card-text"><span class="fw-bold text-primary text-opacity-75">ENDEREÇO:</span>
                            {{ locatario.endereco_completo }}</p>
                        {% endif %}
                        <p class="card-text"><span class="fw-bold text-primary text-opacity-75">TELEFONE 1:</span>
                            {{ locatario.f_tel1 }}</p>
                        <p class="card-text"><span class="fw-bold text-primary text-opacity-75">TELEFONE 2:</span>
                            {% if locatario.f_tel2 %}{{ locatario.f_tel2 }}{% else %}---{% endif %}</p>
                        <p class="card-text"><span class="fw-bold text-primary text-opacity-75">EMAIL:</span>
                            {% if locatario.email %}{{ locatario.email }}{% else %}---{% endif %}</p>
                        <p class="card-text"><span class="fw-bold text-primary text-opacity-75">NACIONALID.:</span>
                            {{ locatario.nacionalidade }} <span class="fw-bold text-primary text-opacity-75">
                                EST. CIVIL:</span> {{locatario.get_estadocivil_display }}</p>
                        <br>
                        <hr>
                        {% for imovel in locatario.com_imoveis.all %}
                        {% if forloop.counter0 < 4 %}
                        <p class="card-text"><span class="fw-bold text-primary text-opacity-75">COM:</span>
                            {{ imovel }}
                        </p>
                        {% elif forloop.counter0 == 4 %}
                        <p class="card-text"><span class="fw-bold text-primary text-opacity-75">Com:</span>
                            mais {{ locatario.contratos_qtd|add:-4 }} contrato(s).</p>
                        {% else %}
                        {% endif %}
                        {% endfor %}

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <br>
</div>

{% elif contratos %}

<div class="container-fluid pt-1 text-center text-justify">
    <br>
    <div class="container-xxl">
        <p class="fs-3">Você tem {{ contrato_qtd }} Contrato{% if contrato_qtd > 1 %}s{% endif %}
            Ativo{% if contrato_qtd > 1 %}s{% endif %}:</p>
        <br>
        <div class="row row-cols-5 row-cols-md-3 g-3">
            {% for contrato in contratos %}
            <div class="col">
                <div class="card bg-black text-white bg-opacity-75 border-secondary h-100">

                    <div class="card-header text-decoration-underline fs-5">
                        {{ page_obj.start_index|add:forloop.counter0 }}. {{ contrato }}
                    </div>
                    <div class="card-body">
                        <p class="card-text"><span class="fw-bold text-primary text-opacity-75">DO LOCATARIO:</span>
                            {{contrato.do_locatario }}
                        <p class="card-text"><span class="fw-bold text-primary text-opacity-75">DO IMOVEL:</span>
                            {{contrato.do_imovel.nome }} - ({{contrato.do_imovel.grupo }}) -
                            End.: {{contrato.do_imovel.endereco_base }}</p>
                        <p class="card-text"><span class="fw-bold text-primary text-opacity-75">DE:</span>
                            {{ contrato.data_entrada|date:"d/m/Y" }}
                            <span class="fw-bold text-primary text-opacity-75">ATÉ:</span>
                            {{ contrato.data_saida|date:"d/m/Y" }} ({{ contrato.duracao }}
                            {% if contrato.duracao > 1 %}meses){% else %}mês){% endif %}</p>
                        <p class="card-text"><span class="fw-bold text-primary text-opacity-75">MENSALIDADE:</span>
                            {{ contrato.valor_format }}
                            <span class="fw-bold text-primary text-opacity-75">VENCIMENTO DIA:</span>
                            {{contrato.dia_vencimento }}</p>
                        <p class="card-text">
                            <span class="fw-bold text-primary text-opacity-75">VALOR DO CONTRATO:</span>
                            {{ contrato.valor_do_contrato_format }}</p>
                        <p class="card-text">
                            <span class="fw-bold text-primary text-opacity-75">TOTAL PG:</span>
                            {{ contrato.total_pg_format }} <span class="fw-bold text-primary text-opacity-75">FALTAM:
                            </span> {{ contrato.falta_pg_format }}</p>
                        <p class="card-text"></p>
                        <p class="card-text"><span class="fw-bold text-primary text-opacity-75">CÓDIGO:</span>
                            {{ contrato.codigo }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <br>
</div>

{% else %}
{% include 'bemvindo.html' %}
{% endif %}

{% endblock %}