{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
Página de Perfil do Administrador de Locação
{% endblock %}

{% block content %}

{% if imoveis %}

<div class="container-fluid pt-1 text-center text-justify">
    <br>
    <div class="container-xxl">
        <p class="fs-3">Você tem {{ imoveis_qtd }} Imóve{% if imoveis_qtd < 1 %}l{% else %}is{% endif %} Ativos:</p>
        <br>
        <div class="row row-cols-5 row-cols-md-3 g-3">
            {% for imovel in imoveis %}
            <div class="col">
                <div class="card bg-black bg-opacity-75 border-dark h-100">
                    <div class="card-header text-decoration-underline">{{ page_obj.start_index|add:forloop.counter0 }}.
                        {{ imovel.nome }} - {{ imovel.grupo }}
                    </div>
                    <div class="card-body">
                        <p class="card-text">End.: {{ imovel.endereco }}</p>
                        <p class="card-text">Matrícula de Energia: {{ imovel.uc_energia }}</p>
                        <p class="card-text">Matrícula de Saneamento: {{ imovel.uc_agua }}</p>
                        <p class="card-text">Registrado em: {{ imovel.data_registro }}</p>
                        <p class="card-text">Com: {{ imovel.com_locatario }}</p>
                        <p class="card-text">Valor do aluguel: {{ imovel.contrato_atual.valor_format }} </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <br>
</div>

{% elif locatarios %}

<div class="container-fluid pt-1  text-center text-justify">
    <br>
    <div class="container-xxl">
        <p class="fs-3">Você tem {{ locatario_qtd }} Locatário{% if locatario_qtd > 1 %}s{% endif %} Ativos:</p>
        <br>
        <div class="row row-cols-5 row-cols-md-3 g-3">
            {% for locatario in locatarios %}
            <div class="col">
                <div class="card bg-black bg-opacity-75 border-dark h-100">
                    <div class="card-header text-decoration-underline">{{ page_obj.start_index|add:forloop.counter0 }}.
                        {{ locatario.nome }}
                    </div>
                    <div class="card-body">
                        <p class="card-text">Ocupação: {{ locatario.ocupacao }}</p>
                        <p class="card-text">RG: {{ locatario.RG }} / CPF: {{ locatario.f_cpf }}</p>
                        <p class="card-text">Telefone 1: {{ locatario.f_tel1 }}</p>
                        <p class="card-text">Telefone 2: {{ locatario.f_tel2 }}</p>
                        <p class="card-text">Email: {{ locatario.email }}</p>
                        <p class="card-text">Nacionalidade: {{ locatario.nacionalidade }} / Estado Civil:
                            {{locatario.get_estadocivil_display }}
                            {% for imovel in locatario.com_imoveis.all %}
                        <p class="card-text">Em: {{ imovel.nome }}/{{ imovel.grupo }} </p>
                        {% endfor %}

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <br>
</div>

{% elif contratos %}

<div class="container-fluid pt-1  text-center text-justify">
    <br>
    <div class="container-xxl">
        <p class="fs-3">Você tem {{ contrato_qtd }} Contrato{% if contrato_qtd > 1 %}s{% endif %} Ativos:</p>
        <br>
        <div class="row row-cols-5 row-cols-md-3 g-3">
            {% for contrato in contratos %}
            <div class="col">
                <div class="card bg-black bg-opacity-75 border-dark h-100">

                    <div class="card-header text-decoration-underline">{{ page_obj.start_index|add:forloop.counter0 }}.
                        COM: {{ contrato.do_locatario }}
                    </div>
                    <div class="card-body">
                        <p class="card-text">EM: {{contrato.do_imovel.nome }} - {{contrato.do_imovel.grupo }}</p>
                        <p class="card-text">END.: {{contrato.do_imovel.endereco }}</p>
                        <p class="card-text">DE: {{ contrato.data_entrada|date:"d/m/Y" }} ATÉ:
                            {{ contrato.data_saida|date:"d/m/Y" }}</p>
                        <p class="card-text">MENSALIDAE: {{ contrato.valor_format }} / DIA DE VENCIMENTO:
                            {{contrato.dia_vencimento }}</p>
                        <p class="card-text">VALOR DO CONTRATO: {{ contrato.valor_do_contrato }}</p>
                        <p class="card-text">CÓDIGO: {{ contrato.codigo }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <br>
</div>

{% else %}
{% include 'bemvindo.html' %}
{% endif %}

{% endblock %}