{% extends 'base.html' %}

{% load static %}

{% block titulo %}
Anotações / {{ SITE_NAME }}
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

<div class="container-fluid pt-1 d-flex justify-content-center">
    {% if anotacoes %}

    <div class="col ms-1">
        <table class="table mx-1 my-1 align-middle table-sm table-hover table-bordered border-secondary table-striped table-dark text-center text-justify">
            <thead>
            <tr>
                <th scope="col" style="cursor:default;"></th>
                <th scope="col" style="cursor:default;">Titulo</th>
                <th scope="col" style="cursor:default;">Texto</th>
                <th scope="col" style="cursor:default;">Data</th>
                <th scope="col" style="cursor:default;">Tipo</th>
                <th scope="col" style="cursor:default;">Editar</th>
                <th scope="col" style="cursor:default;">Excluir</th>
            </tr>
            </thead>

            <tbody class="table-group-divider">
            {% for anotacao in anotacoes %}
            <tr>
                <th scope="col" style="cursor:default;">{{ page_obj.start_index|add:forloop.counter0 }}</th>
                {% if anotacao.texto_pequeno.0 == 0 or anotacao.texto_pequeno.0 == 1 %}
                <th scope="col" style="cursor:default;">{{ anotacao.titulo }}</th>
                <th scope="col" style="cursor:default;">{{ anotacao.texto_pequeno.1 }}</th>
                {% else %}
                <th scope="col" style="cursor:pointer;" title="Clique para ver mais" data-bs-toggle="modal"
                    data-bs-target="#Modal{{ anotacao.pk }}">{{ anotacao.titulo }}
                </th>
                <th scope="col" style="cursor:pointer;" title="Clique para ver mais" data-bs-toggle="modal"
                    data-bs-target="#Modal{{ anotacao.pk }}">{{ anotacao.texto_pequeno.1 }}
                </th>
                {% endif %}
                <th scope="col" style="cursor:default;">{{ anotacao.data_registro|date:"d/m/Y" }}</th>
                <th scope="col" style="cursor:default;">{{ anotacao.tipo }}</th>
                <th scope="col"><a class="link-primary" href="{% url 'home:Editar Anotação' anotacao.pk %}"
                                   title="Editar">✒️</a></th>
                <th scope="col"><a class="link-danger" href="{% url 'home:Excluir Anotação' anotacao.pk %}"
                                   title="Excluir">❌</a></th>
                {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
{% for anotacao in anotacoes %}
<div class="modal fade modal-lg" id="Modal{{ anotacao.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content bg-dark border border-white text-white">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{{ page_obj.start_index|add:forloop.counter0 }}.
                    {{ anotacao.titulo }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ anotacao.texto }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% else %}
{% include 'nenhum_registrado.html' %}
{% endif %}

{% endblock %}