{% extends 'base.html' %}

{% load static %}

{% block titulo %}
Página dos Imóveis do Administrador de Locação
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

<container class="container-fluid pt-1 text-center text-justify">
    {% if imoveis %}
    <table class="table mx-1 my-1 align-middle table-sm table-hover table-bordered border-secondary table-striped table-dark">
        <thead>
        <tr>
            <th scope="col" style="cursor:default;"></th>
            <th scope="col" style="cursor:default;">Rótulo</th>
            <th scope="col" style="cursor:default;">Grupo</th>
            <th scope="col" style="cursor:default;">Endereço</th>
            <th scope="col" style="cursor:default;">UC Energia</th>
            <th scope="col" style="cursor:default;">UC Saneamento</th>
            <th scope="col" style="cursor:default;">Editar</th>
            <th scope="col" style="cursor:default;">Excluir</th>
        </tr>
        </thead>
        <tbody>

        {% for imovel in imoveis %}
        <tr>
            <th scope="col" style="cursor:default;">{{ page_obj.start_index|add:forloop.counter0 }}</th>
            <th scope="col" style="cursor:default;">{{ imovel.nome }}</th>
            {% if imovel.grupo %}
            <th scope="col" style="cursor:default;">{{ imovel.grupo }}</th>
            {% else %}
            <th scope="col" style="cursor:default;">---</th>
            {% endif %}
            <th scope="col" style="cursor:default;" title="{{ imovel.endereco_completo }}">
                {{ imovel.endereco_base|truncatechars:125 }}
            </th>
            <th scope="col" style="cursor:default;">{{ imovel.uc_energia }}</th>
            <th scope="col" style="cursor:default;">{{ imovel.uc_agua }}</th>
            <th scope="col"><a href="{% url 'home:Editar Imóvel' imovel.pk %}" class="link-primary"
                               title="Editar">✒️</a>
            </th>
            <th scope="col"><a href="{% url 'home:Excluir Imóvel' imovel.pk %}" class="link-danger"
                               title="Excluir">❌</a>
            </th>

            {% endfor %}
        </tr>
        </tbody>
    </table>

</container>

{% else %}
{% include 'nenhum_registrado.html' %}
{% endif %}

{% endblock %}