{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
Eventos / {{ SITE_NAME }}
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

<div class="container-xxl pt-1 text-center text-justify">

    <form method="POST">
        {% csrf_token %}

        <div
                class="container-auto m-1 border bg-dark bg-opacity-50 rounded flex justify-content-evenly items-center">

            <div class="p-1">
                {{ form.data_eventos_i|as_crispy_field }}
            </div>

            <div class="p-1">
                {{ form.data_eventos_f|as_crispy_field }}
            </div>

            <div class="p-1">
                {{ form.qtd|as_crispy_field }}
            </div>

            <div class="p-1">
                {{ form.ordem_eventos|as_crispy_field }}
            </div>

            <div class="p-1">
                {% crispy form %}
            </div>

            <div class="p-1">
                <button class="bg-blue-600 py-2 px-3 text-white rounded-md form-control-sm" type="submit">Ir
                </button>
            </div>

        </div>

    </form>

    <br>

    {% if retornou_algo %}

    {% if pagamentos %}
    <p class="text-start fw-bold">Pagamentos:</p>

    <table class="table align-middle table-sm table-hover table-bordered border-secondary table-striped table-dark">
        <thead>
        <tr>
            <th scope="col" style="cursor:default;"></th>
            <th scope="col" style="cursor:default;">Contrato de Origem</th>
            <th scope="col" style="cursor:default;">Valor</th>
            <th scope="col" style="cursor:default;">Data do pagam.</th>
            <th scope="col" style="cursor:default;" title="Forma de pagamento">Forma de Pag.</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">

        {% for pagamento in pagamentos %}
        <tr>
            <th scope="col" style="cursor:default;">{{ forloop.counter }}</th>
            <th scope="col " style="cursor:default;" title="{{ pagamento.ao_contrato.nome_completo }}">
                {{ pagamento.ao_contrato }}
            </th>
            <th scope="col" style="cursor:default;">{{ pagamento.valor_format }}</th>
            <th scope="col" style="cursor:default;">{{ pagamento.data_pagamento|date:"d/m/Y" }}</th>
            <th scope="col" style="cursor:default;">{{ pagamento.get_forma_display }}</th>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="2"></td>
            <td class="table-active"><p class="text-success fw-bold">{{ pg_tt }}</p></td>
            <td colspan="4"></td>
        </tr>
        </tbody>
    </table>

    {% endif %}

    {% if gastos %}
    <p class="text-start fw-bold">Gastos:</p>

    <table class="table align-middle table-sm table-hover table-bordered border-secondary table-striped table-dark">
        <thead>
        <tr>
            <th scope="col" style="cursor:default;"></th>
            <th scope="col" style="cursor:default;">Imovel</th>
            <th scope="col" style="cursor:default;">Valor</th>
            <th scope="col" style="cursor:default;">Data do Envento</th>
            <th scope="col" style="cursor:default;">Observações</th>
            <th scope="col" style="cursor:default;">Docs</th>
        </tr>
        </thead>

        <tbody class="table-group-divider">
        {% for gasto in gastos %}
        <tr>
            <th scope="col" style="cursor:default;">{{ forloop.counter }}</th>
            {% if gasto.do_imovel %}
            <th scope="col" style="cursor:default;">{{ gasto.do_imovel }}</th>
            {% else %}
            <th scope="col" style="cursor:default;">---</th>
            {% endif %}
            <th scope="col" style="cursor:default;">{{ gasto.valor_format }}</th>
            <th scope="col" style="cursor:default;">{{ gasto.data|date:"d/m/Y" }}</th>
            <th scope="col" style="cursor:default;" title="{{ gasto.observacoes }}">
                {{ gasto.observacoes|truncatechars:100 }}
            </th>
            {% if gasto.comprovante %}
            <th scope="col">
                <form action="{{ gasto.comprovante.url }}" target="_blank">
                    <button type="submit" class="link-primary">
                        🗂
                    </button>
                </form>
            </th>
            {% else %}
            <th scope="col" style="cursor:default;" title="Sem registro">✖️</th>
            {% endif %}
        </tr>
        {% endfor %}
        <tr>
            <td colspan="2"></td>
            <td class="table-active"><p class="text-success fw-bold">{{ gasto_tt }}</p></td>
            <td colspan="5"></td>
        </tr>
        </tbody>
    </table>

    {% endif %}

    {% if pagamentos and gastos %}

    <div class="card bg-black bg-opacity-75">
        <p class="fs-5 mb-1">Pagamentos menos Gastos: <span class="badge bg-secondary">{{ pag_m_gast }}</span></p>
    </div>
    <br>

    {% endif %}

    {% if locatarios %}
    <p class="text-start fw-bold">Locatários:</p>

    <table class="table align-middle table-sm table-hover table-bordered border-secondary table-striped table-dark">
        <thead>
        <tr>
            <th scope="col" style="cursor:default;"></th>
            <th scope="col" style="cursor:default;">Nome</th>
            <th scope="col" style="cursor:default;">RG</th>
            <th scope="col" style="cursor:default;">CPF</th>
            <th scope="col" style="cursor:default;">Telefone 1</th>
            <th scope="col" style="cursor:default;">Telefone 2</th>
            <th scope="col" style="cursor:default;">Email</th>
            <th scope="col" style="cursor:default;" title="Nacionalidade">Nacion.</th>
            <th scope="col" style="cursor:default;" title="Estado Civil">Estado C.</th>
            <th scope="col" style="cursor:default;" title="Documentos">Docs</th>
        </tr>
        </thead>

        <tbody class="table-group-divider">
        {% for locatario in locatarios %}
        <tr>
            <th scope="col" style="cursor:default;">{{ forloop.counter }}</th>
            <th scope="col" style="cursor:default;" title="{{ locatario.nome }}">{{ locatario.primeiro_ultimo_nome }}
            </th>
            <th scope="col" style="cursor:default;">{{ locatario.RG }}</th>
            <th scope="col" style="cursor:default;">{{ locatario.f_cpf }}</th>
            <th scope="col" style="cursor:default;">{{ locatario.f_tel1 }}</th>
            {% if locatario.f_tel2 %}
            <th scope="col" style="cursor:default;">{{ locatario.f_tel2 }}</th>
            {% else %}
            <th scope="col" style="cursor:default;">---</th>
            {% endif %}
            {% if locatario.email %}
            <th scope="col" style="cursor:default;">{{ locatario.email }}</th>
            {% else %}
            <th scope="col" style="cursor:default;">---</th>
            {% endif %}
            <th scope="col" style="cursor:default;">{{ locatario.nacionalidade }}</th>
            <th scope="col" style="cursor:default;">{{ locatario.get_estadocivil_display }}</th>

            {% if locatario.docs %}
            <th scope="col">
                <form action="{{ locatario.docs.url }}" target="_blank">
                    <button type="submit" class="link-primary" title="Clique para visualizar">
                        🗂
                    </button>
                </form>
            </th>
            {% else %}
            <th scope="col" style="cursor:default;" title="Sem registro">✖️</th>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endif %}

    {% if contratos %}
    <p class="text-start fw-bold">Contratos:</p>

    <table class="table align-middle table-sm table-hover table-bordered border-secondary table-striped table-dark">
        <thead>
        <tr>
            <th scope="col" style="cursor:default;"></th>
            <th scope="col" style="cursor:default;">Cód.</th>
            <th scope="col" style="cursor:default;">Locatário</th>
            <th scope="col" style="cursor:default;">Imóvel</th>
            <th scope="col" style="cursor:default;">Data de Entrada</th>
            <th scope="col" style="cursor:default;">Data de Saída</th>
            <th scope="col" style="cursor:default;">Valor do Aluguel</th>
            <th scope="col" style="cursor:default;" title="Dia de vencimento">Venc. d</th>
            <th scope="col" style="cursor:default;" title="Minha Via em mãos Ativado/Desativado">M. via</th>
            <th scope="col" style="cursor:default;" title="Contrato Ativado/Rescindido">Ativado</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">

        {% for contrato in contratos %}
        <tr>
            <th scope="col" style="cursor:default;">{{ forloop.counter }}</th>
            <th scope="col" style="cursor:default;">{{ contrato.codigo }}</th>
            <th scope="col" style="cursor:default;">{{ contrato.do_locatario }}</th>
            <th scope="col" style="cursor:default;" title="{{ contrato.do_imovel.endereco }}">
                {{ contrato.do_imovel|truncatechars:106 }}
            </th>
            <th scope="col" style="cursor:default;">{{ contrato.data_entrada|date:"d/m/Y" }}</th>
            <th scope="col" style="cursor:default;">{{ contrato.data_saida|date:"d/m/Y" }}</th>
            <th scope="col" style="cursor:default;">{{ contrato.valor_format }}</th>
            <th scope="col" style="cursor:default;">{{ contrato.dia_vencimento }}</th>

            {% if contrato.em_posse %}
            <th scope="col">
                <div style="cursor:default;" class="link-primary" title="Em mãos">✅️</div>
            </th>
            {% else %}
            <th scope="col">
                <div style="cursor:default;" class="link-primary" title="Não entregue">✖️</div>
            </th>
            {% endif %}

            {% if contrato.vencido %}
            <th scope="col" style="cursor:default;">
                <div class="link-primary" title="Contrato Vencido">️✖️</div>
            </th>
            {% else %}
            {% if contrato.rescindido %}
            <th scope="col">
                <div style="cursor:default;" class="link-primary" title="Contrato Rescindido">️✖️</div>
            </th>
            {% else %}
            <th scope="col">
                <div style="cursor:default;" class="link-primary" title="Contrato Ativo">✅</div>
            </th>
            {% endif %}
            {% endif %}
            {% endfor %}
        </tr>
        </tbody>
        <tr>
            <td colspan="6"></td>
            <td class="table-active"><p class="text-success fw-bold">{{ contr_tt }}</p></td>
            <td colspan="5"></td>
        </tr>
    </table>

    {% endif %}

    {% if imoveis %}
    <p class="text-start fw-bold">Imóveis:</p>

    <table class="table align-middle table-sm table-hover table-bordered border-secondary table-striped table-dark">
        <thead>
        <tr>
            <th scope="col" style="cursor:default;"></th>
            <th scope="col" style="cursor:default;">Rótulo</th>
            <th scope="col" style="cursor:default;">Grupo</th>
            <th scope="col" style="cursor:default;">Endereço</th>
            <th scope="col" style="cursor:default;">UC Energia</th>
            <th scope="col" style="cursor:default;">UC Saneamento</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">

        {% for imovel in imoveis %}
        <tr>
            <th scope="col" style="cursor:default;">{{ forloop.counter }}</th>
            <th scope="col" style="cursor:default;">{{ imovel.nome }}</th>
            {% if imovel.grupo %}
            <th scope="col" style="cursor:default;">{{ imovel.grupo }}</th>
            {% else %}
            <th scope="col" style="cursor:default;">---</th>
            {% endif %}
            <th scope="col" style="cursor:default;" title="{{ imovel.endereco_completo }}">
                {{ imovel.endereco_base|truncatechars:125 }}
            </th>
            {% if imovel.uc_energia %}
            <th scope="col" style="cursor:default;">{{ imovel.uc_energia }}</th>
            {% else %}
            <th scope="col" style="cursor:default;">---</th>
            {% endif %}
            {% if imovel.uc_agua %}
            <th scope="col" style="cursor:default;">{{ imovel.uc_agua }}</th>
            {% else %}
            <th scope="col" style="cursor:default;">---</th>
            {% endif %}
        </tr>
        {% endfor %}

        </tr>
        </tbody>
    </table>

    {% endif %}

    {% if anotacoes %}
    <p class="text-start fw-bold">Anotações:</p>

    <table class="table align-middle table-sm table-hover table-bordered border-secondary table-striped table-dark">
        <thead>
        <tr>
            <th scope="col" style="cursor:default;"></th>
            <th scope="col" style="cursor:default;">Titulo</th>
            <th scope="col" style="cursor:default;">Data</th>
            <th scope="col" style="cursor:default;">Anotações</th>
        </tr>
        </thead>

        <tbody class="table-group-divider">

        {% for anotacao in anotacoes %}
        <tr>
            <th scope="col" style="cursor:default;">{{ forloop.counter }}</th>
            <th scope="col" style="cursor:default;">{{ anotacao.titulo }}</th>
            <th scope="col" style="cursor:default;">{{ anotacao.data_registro|date:"d/m/Y" }}</th>
            <th scope="col" style="cursor:default;">{{ anotacao.texto }}</th>
            {% endfor %}
        </tr>
        </tbody>
    </table>

    {% endif %}

    {% else %}
    {% include 'faca_pesquisa.html' %}
    {% endif %}

</div>

{% endblock %}
