{% extends 'base.html' %}

{% load static %}

{% block titulo %}
Visão Geral / {{ SITE_NAME }}
{% endblock %}

{% block head %}
<style>
.table-condensed{
  font-size: 13px;
}
</style>
{% endblock %}

{% block content %}

{% if conteudo %}

<div class="container-fluid pt-1 text-center text-justify">

    <div class="col">
        <div class="row g-1">

            <table class="table table-dark table-condensed mx-1 my-1 align-middle table-sm table-hover table-bordered
             border-secondary table-striped">
                <thead>
                <tr>
                    <td colspan="4" class="fw-bold">Imóvel</td>
                    <td colspan="3" class="fw-bold">Mensalidade</td>
                    <td colspan="3" class="fw-bold">Contrato</td>
                </tr>
                <tr>
                    <th scope="col" style="cursor:default;">Nº</th>
                    <th scope="col" style="cursor:default;"><a href="?order_by=nome">Nome</a></th>
                    <th scope="col" style="cursor:default;"><a href="?order_by=com_locatario__nome">Com locatário</a>
                    </th>
                    <th scope="col" style="cursor:default;"><a
                            href="?order_by=contrato_atual__valor_mensal">Valor/Mês</a></th>
                    <th scope="col" style="cursor:default;"><a href="?order_by=vencimento_atual">Vencimento</a></th>
                    <th scope="col" style="cursor:default;"><a href="?order_by=divida_atual_valor">Pagamento</a></th>
                    <th scope="col" style="cursor:default;" title="Recibos Entregues">
                        <a href="?order_by=recibos_entregues_qtd">Recibos Entr.</a></th>
                    <th scope="col" style="cursor:default;"><a href="?order_by=contrato_atual">Nome</a></th>
                    <th scope="col" style="cursor:default;"><a href="?order_by=total_pg">Total Pago</a></th>
                    <th scope="col" style="cursor:default;" title="Tempo Transcorrido">
                        <a href="?order_by=transcorrido_dias">Tempo</a></th>
                </tr>


                </thead>

                <tbody class="table-group-divider">
                {% for imovel in page_obj %}
                <tr>
                    <th scope="col" style="cursor:default;">{{ page_obj.start_index|add:forloop.counter0 }}</th>
                    <th scope="col" style="cursor:default;" title="{{ imovel.grupo }}">{{ imovel.nome }}</th>
                    <th scope="col" style="cursor:default;" title="{{ imovel.com_locatario.nome }}">
                        {{ imovel.com_locatario.primeiro_ultimo_nome }}
                    </th>
                    <th scope="col" style="cursor:default;">{{ imovel.contrato_atual.valor_format }}</th>
                    <th scope="col" style="cursor:default;">{{ imovel.contrato_atual.vencimento_atual_textual }}</th>

                    {% if imovel.contrato_atual.divida_atual_valor.0 == 0 %}
                    <th>Em dia ✔️</th>
                    {% else %}
                    <th scope="col" style="cursor:default;">{{ imovel.contrato_atual.divida_atual_valor.1 }} /
                        {{ imovel.contrato_atual.divida_atual_meses }}
                        {% if imovel.contrato_atual.divida_atual_meses == 1 %}Mês{% else %}Meses{% endif %} ⭕
                    </th>
                    {% endif %}
                    <th scope="col" style="cursor:default;">{{ imovel.contrato_atual.recibos_entregues_qtd }}
                        de {{ imovel.contrato_atual.parcelas_pagas_qtd }}
                        {% if imovel.contrato_atual.recibos_entregues_qtd == imovel.contrato_atual.parcelas_pagas_qtd %}
                        ✔️
                        {% else %}
                        ⭕
                        {% endif %}
                    </th>
                    <th scope="col" style="cursor:default;">{{ imovel.contrato_atual }}</th>
                    <th scope="col" style="cursor:default;" title="{{ imovel.contrato_atual.title_pagou_parcelas }}">
                        {{ imovel.contrato_atual.total_pg_format }} ({{ imovel.contrato_atual.parcelas_pagas_qtd }})
                        de {{ imovel.contrato_atual.valor_do_contrato_format }} ({{ imovel.contrato_atual.duracao }})
                    </th>
                    {% if imovel.contrato_atual.transcorrido_dias|add:30 > imovel.contrato_atual.duracao_dias %}
                    <th scope="col" style="cursor:default;" title="O contrato está perto do vencimento">
                        {{ imovel.contrato_atual.transcorrido_dias }} de {{ imovel.contrato_atual.duracao_dias }} dias
                        {% if imovel.contrato_atual.transcorrido_dias|add:30 > imovel.contrato_atual.duracao_dias %}
                        ⚠️
                        {% endif %}
                        {% else %}
                        {% if imovel.contrato_atual.passou_do_limite %}
                    <th scope="col" style="cursor:default;"
                        title="Vence em {{ imovel.contrato_atual.faltando_dias }} dias" class="text-warning">
                        {{ imovel.contrato_atual.transcorrido_dias }} de {{ imovel.contrato_atual.duracao_dias }} dias
                        {% else %}
                    <th scope="col" style="cursor:default;"
                        title="Vence em {{ imovel.contrato_atual.faltando_dias }} dias">
                        {{ imovel.contrato_atual.transcorrido_dias }} de {{ imovel.contrato_atual.duracao_dias }} dias
                        {% endif %}
                        {% endif %}
                    </th>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="row g-1">
            <div class="container text-start">
                <div class="col mt-1">
                    <div class="card bg-black bg-opacity-75 border-secondary">
                        <!-- Card header inicio -->
                        <div class="card-header">
                            <div class="d-flex justify-content-between">
                                <p>Arrecadação total desde o início: {{ arrecadacao_total }}</p>
                                <p>Arrecadação mensal dos contratos ativos: {{ arrecadacao_mensal }}</p>
                                <p>Valor total dos contratos ativos: {{ valor_total_contratos_ativos }}</p>
                                <p>Valor total dos contratos: {{ valor_total_contratos }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

{% else %}
{% include 'bemvindo.html' %}
{% endif %}

{% endblock %}

{% block scripts %}
{% endblock %}
