{% extends 'base.html' %}

{% load static %}

{% block titulo %}
Visão Geral / {{ SITE_NAME }}
{% endblock %}

{% block head %}
<style>
.table-condensed{
  font-size: 13px;
}
</style>
{% endblock %}

{% block content %}

{% if page_obj|length > 0 %}

<div class="container-fluid pt-1 text-center text-justify">

    <div class="col">
        <div class="row g-1">

            <table class="table table-dark table-condensed mx-1 my-1 align-middle table-sm table-hover table-bordered
             border-secondary table-striped">
                <thead>
                <tr>
                    <td colspan="4" class="fw-bold" style="cursor:default;" title="Informações sobre o imóvel">Imóvel
                    </td>
                    <td colspan="3" class="fw-bold" style="cursor:default;"
                        title="Informações sobre o pagamento mensal">Mensalidade
                    </td>
                    <td colspan="3" class="fw-bold" style="cursor:default;" title="Informações sobre o contrato">
                        Contrato
                    </td>
                </tr>
                <tr>
                    <th scope="col" style="cursor:default;">Nº</th>
                    <th scope="col" style="cursor:default;" title="Nome do imóvel"><a
                            href="?order_by={{ reverter }}nome_do_imovel">Nome</a></th>
                    <th scope="col" style="cursor:default;" title="Locatário neste imóvel"><a
                            href="?order_by={{ reverter }}nome_do_locatario">Com locatário</a>
                    </th>

                    <th scope="col" style="cursor:default;" title="Valor mensal do aluguel"><a
                            href="?order_by={{ reverter }}valor_mensal">Valor/Mês</a></th>

                    <th scope="col" style="cursor:default;" title="Vencimento da mensalidade"><a
                            href="?order_by={{ reverter }}vencimento_atual">Vencimento</a></th>
                    <th scope="col" style="cursor:default;"
                        title="Valor atrasado até a data de hoje / Quantidade de meses não quitados"><a
                            href="?order_by={{ reverter }}divida_atual_valor">Atraso</a></th>
                    <th scope="col" style="cursor:default;" title="Recibos entregues do total de meses pagos"><a
                            href="?order_by={{ reverter }}recibos_entregues">Recibos Entr.</a></th>

                    <th scope="col" style="cursor:default;" title="Nome do contrato"><a
                            href="?order_by={{ reverter }}nome_do_locatario">Nome</a></th>
                    <th scope="col" style="cursor:default;" title="Total pago deste contrato"><a
                            href="?order_by={{ reverter }}total_quitado">Total
                        Pago</a></th>
                    <th scope="col" style="cursor:default;" title="Tempo transcorrido">
                        <a href="?order_by={{ reverter }}dias_transcorridos">Tempo</a></th>

                </tr>


                </thead>

                <tbody class="table-group-divider">
                {% for contrato in page_obj %}
                <tr>
                    <th scope="col" style="cursor:default;">{{ page_obj.start_index|add:forloop.counter0 }}</th>
                    <th scope="col" style="cursor:default;" title="No grupo: {{ contrato.fo_imovel.grupo }}">
                        {{ contrato.do_imovel.nome }}
                    </th>
                    <th scope="col" style="cursor:default;" title="{{ contrato.do_locatario.nome }}">
                        {{ contrato.do_locatario.primeiro_ultimo_nome }}
                    </th>
                    <th scope="col" style="cursor:default;">{{ contrato.valor_format }}</th>
                    <th scope="col" style="cursor:default;" title="{{ contrato.vencimento_atual_textual.1 }}">
                        {{ contrato.vencimento_atual_textual.0 }}
                    </th>

                    {% if contrato.divida_atual_valor.0 == 0 %}
                    <th>Em dia ✔️</th>
                    {% else %}
                    <th scope="col" style="cursor:default;">{{ contrato.divida_atual_valor.1 }} /
                        {{ contrato.divida_atual_meses }}
                        {% if contrato.divida_atual_meses == 1 %}Mês{% else %}Meses{% endif %} ⭕
                    </th>
                    {% endif %}
                    <th scope="col" style="cursor:default;">{{ contrato.recibos_entregues_qtd }}
                        de {{ contrato.parcelas_pagas_qtd }}
                        {% if contrato.recibos_entregues_qtd >= contrato.parcelas_pagas_qtd %}
                        ✔️
                        {% else %}
                        ⭕
                        {% endif %}
                    </th>
                    <th scope="col" style="cursor:default;" title="{{ contrato.nome_completo }}">
                        {{ contrato }}
                    </th>
                    <th scope="col" style="cursor:default;" title="{{ contrato.title_pagou_parcelas }}">
                        {{ contrato.total_pg_format }} ({{ contrato.parcelas_pagas_qtd }})
                        de {{ contrato.valor_do_contrato_format }} ({{ contrato.duracao }})
                    </th>
                    {% if contrato.transcorrido_dias|add:30 > contrato.duracao_dias %}
                    <th scope="col" style="cursor:default;"
                        title="O contrato está perto do vencimento. Vence em {{ contrato.faltando_dias }} dias">
                        {{ contrato.transcorrido_dias }} de {{ contrato.duracao_dias }} dias
                        {% if contrato.transcorrido_dias|add:30 > contrato.duracao_dias %}
                        ⚠️
                        {% endif %}
                        {% else %}
                        {% if contrato.passou_do_limite %}
                    <th scope="col" style="cursor:default;"
                        title="Vence em {{ contrato.faltando_dias }} dias" class="text-warning">
                        {{ contrato.transcorrido_dias }} de {{ contrato.duracao_dias }} dias
                        {% else %}
                    <th scope="col" style="cursor:default;"
                        title="Vence em {{ contrato.faltando_dias }} dias">
                        {{ contrato.transcorrido_dias }} de {{ contrato.duracao_dias }} dias
                        {% endif %}
                        {% endif %}
                    </th>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="row g-1">
            <div class="container text-start">
                <div class="col mt-1">
                    <div class="card bg-black bg-opacity-75 border-secondary">
                        <!-- Card header inicio -->
                        <div class="card-header">
                            <div class="d-flex justify-content-between">
                                <p>Arrecadação total desde o início: {{ arrecadacao_total }}</p>
                                <p>Arrecadação mensal dos contratos ativos: {{ arrecadacao_mensal }}</p>
                                <p>Valor total dos contratos ativos: {{ valor_total_contratos_ativos }}</p>
                                <p>Valor total dos contratos: {{ valor_total_contratos }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>

<br>

{% else %}
{% include 'bemvindo.html' %}
{% endif %}

{% endblock %}

{% block scripts %}
{% endblock %}
