{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
Sujestões / {{ SITE_NAME }}
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

<div class="container flex justify-center">

    <div class="container mt-1 p-1 bg-black bg-opacity-50 mb-2 border border-secondary rounded bg-gradient text-dark">
        <div class="z-10 h-full  md:py-0 text-gray-100 text-center flex items-center flex-col">
            <p class="fs-3">Sugestões</p>
            <p class="fs-6">O '{{ SITE_NAME }}' conta com a ajuda de seus usuários para idealizar melhorias, agradecemos
                todas as contribuições desde já. Leia as sugestões enviadas por outros usuários; dessa forma,
                se alguém já tiver enviado uma sugestão parecida com a sua, ou até mesmo se você gostar da sugestão
                de alguém, você poderá votar nesta clicando no botão Curtir. As sugestões serão implementadas
                por ordem de votação e facilidade de implementação. Sugestões duplicadas ou desnecessárias
                serão apagadas. Obs: As sugestões enviadas aqui devem ser focadas em melhorias no site apenas.</p>
            <hr width="75%"/>
            <br>
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-home"
                            type="button" role="tab" aria-controls="nav-home" aria-selected="true">Sugestões
                        Enviadas
                    </button>
                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-profile"
                            type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Sugestões
                        Implementadas
                    </button>
                </div>
            </nav>

            <!-- Conteúdo Sugestões Enviadas início -->
            <div class="tab-content w-100" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
                     tabindex="0">

                    <!-- Container de cards inicio -->
                    <div class="container text-start">

                        {% if sugestoes %}
                        {% for sugestao in sugestoes %}
                        <div class="col mt-1">
                            <div class="card bg-black bg-opacity-50 border-secondary">

                                <!-- Card header inicio -->
                                <div class="card-header">
                                    <div class="d-flex justify-content-between">

                                        <div>
                                            Enviada por: {{ sugestao.do_usuario.primeiro_ultimo_nome }}
                                            ({{ sugestao.do_usuario.username }})
                                        </div>

                                        <!-- Botões do superuser inicio -->
                                        {% if user.is_superuser %}
                                        <div class="d-flex justify-content-end d-grid gap-1">
                                            <div>
                                                <a href="{% url 'home:Apagar Sugestão' sugestao.pk %}">
                                                    <button type="button" class="btn btn-sm btn-outline-danger">
                                                        Apagar
                                                    </button>
                                                </a>
                                            </div>
                                            {% if sugestao.aprovada %}
                                            <div>
                                                <a href="{% url 'home:Implementar Sugestão' sugestao.pk %}">
                                                    <button type="button" class="btn btn-sm btn-outline-success">
                                                        Implementar
                                                    </button>
                                                </a>
                                            </div>
                                            <div>
                                                <a href="{% url 'home:Aprovar Sugestão' sugestao.pk %}">
                                                    <button type="button" class="btn btn-sm btn-outline-warning"
                                                            title="Ocultar dos usuários">
                                                        Reprovar
                                                    </button>
                                                </a>
                                            </div>
                                            {% else %}
                                            <div>
                                                <button type="button" class="btn btn-sm btn-outline-success"
                                                        disabled>Implementar
                                                </button>
                                            </div>
                                            <div>
                                                <a href="{% url 'home:Aprovar Sugestão' sugestao.pk %}">
                                                    <button type="button" class="btn btn-sm btn-outline-success"
                                                            title="Mostrar para os usuários">
                                                        Aprovar
                                                    </button>
                                                </a>
                                            </div>
                                            {% endif %}
                                        </div>
                                        {% elif user == sugestao.do_usuario %}
                                        <div class="d-flex justify-content-end d-grid gap-1">
                                            <a href="{% url 'home:Apagar Sugestão' sugestao.pk %}">
                                                <button type="button" class="btn btn-sm btn-outline-danger">
                                                    Apagar
                                                </button>
                                            </a>
                                        </div>
                                        {% endif %}
                                        <!-- Botões do superuser fim -->

                                        <!-- Botão de curtida início -->
                                        <div>
                                            {% if sugestao in sugestoes_curtidas %}
                                            <a href="{% url 'home:like de Sugestão' sugestao.pk %}">
                                                <button type="button"
                                                        class="btn btn-outline-primary active">
                                                    <ion-icon name="thumbs-up-outline"></ion-icon>
                                                    Curtiu
                                                </button>
                                                <span class="top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                                {{ sugestao.numero_de_likes }}<span class="visually-hidden">
                                                Número de Votos</span></span>
                                                </button>
                                            </a>
                                            {% else %}
                                            <a href="{% url 'home:like de Sugestão' sugestao.pk %}">
                                                <button type="button" class="btn btn-outline-primary">
                                                    <ion-icon name="thumbs-up-outline"></ion-icon>
                                                    Curtir
                                                </button>
                                                <span class="top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                                {{ sugestao.numero_de_likes }}<span class="visually-hidden">
                                                Número de Votos</span></span>
                                                </button>
                                            </a>
                                            {% endif %}
                                        </div>
                                        <!-- Botão de curtida fim -->
                                    </div>
                                </div>
                                <!-- Card header fim -->

                                <!-- Card body inicio -->
                                <div class="card-body">
                                    <p>{{ sugestao.corpo }}</p>
                                </div>
                                <!-- Card body fim -->

                                <!-- Card footer inicio -->
                                <div class="card-footer text-muted">
                                    {% if sugestao.imagem %}
                                    <div class="d-flex justify-content-between">
                                        {% if sugestao.aprovada == False %}
                                        <small>Ps: Aguardando aprovação do administrador</small>
                                        {% endif %}
                                        <div>
                                            <a href="{{ sugestao.imagem.url }}" class="link-primary"
                                               target="_blank"
                                               title="Clique para visualizar">Imagem 🗂</a>
                                        </div>
                                        <div>
                                            {{ sugestao.data_registro }}
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="d-flex justify-content-between">
                                        {% if sugestao.aprovada == False %}
                                        <small>Ps: Aguardando aprovação do administrador</small>
                                        {% endif %}
                                        <div>
                                            {{ sugestao.data_registro }}
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                                <!-- Card footer fim -->
                            </div>
                        </div>
                        {% endfor %}

                        {% else %}
                        <div class="container text-center">
                            {% include 'nenhum_registrado.html' %}
                        </div>
                        {% endif %}

                        <br>
                        <!-- Botão de add inicil -->
                        <a data-bs-toggle="modal" data-bs-target="#adicionar_sugestao"
                           class="dropdown-item text-center">
                            <button class="bg-blue-700 text-white p-1 px-3 rounded-md">
                                ➕ Adiconar Sugestão
                            </button>
                        </a>
                        <!-- Botão de add fim -->
                    </div>
                    <!-- Container de cards fim -->

                </div>
            </div>
            <!-- Conteúdo Sugestões Enviadas fim -->

            <!-- Conteúdo Sugestões implementadas início -->
            <div class="tab-pane fade w-100" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"
                 tabindex="0">


                <!-- Container de cards inicio -->
                <div class="container text-start">

                    {% if sugestoes_implementadas %}
                    {% for sugestao in sugestoes_implementadas %}
                    <div class="col mt-1">
                        <div class="card bg-black bg-opacity-50 border-secondary">

                            <!-- Card header inicio -->
                            <div class="card-header">
                                <div class="d-flex justify-content-between">

                                    <div>
                                        Enviada por: {{ sugestao.do_usuario.primeiro_ultimo_nome }}
                                        ({{ sugestao.do_usuario.username }})
                                    </div>

                                    <!-- Botões do superuser inicio -->
                                    {% if user.is_superuser %}
                                    <div class="d-flex justify-content-end d-grid gap-1">
                                        <div>
                                            <a href="{% url 'home:Apagar Sugestão' sugestao.pk %}">
                                                <button type="button" class="btn btn-sm btn-outline-danger">
                                                    Apagar
                                                </button>
                                            </a>
                                        </div>
                                        <div>
                                            <a href="{% url 'home:Implementar Sugestão' sugestao.pk %}">
                                                <button type="button" class="btn btn-sm btn-outline-warning"
                                                        title="Desfazer implementação">
                                                    Retroagir
                                                </button>
                                            </a>
                                        </div>
                                        {% if sugestao.aprovada %}
                                        <div>
                                            <a href="{% url 'home:Aprovar Sugestão' sugestao.pk %}">
                                                <button type="button" class="btn btn-sm btn-outline-warning"
                                                        title="Desfazer aprovação">
                                                    Reprovar
                                                </button>
                                            </a>
                                        </div>
                                        {% else %}
                                        <div>
                                            <a href="{% url 'home:Aprovar Sugestão' sugestao.pk %}">
                                                <button type="button" class="btn btn-sm btn-outline-success"
                                                        title="Mostrar para os usuários">
                                                    Aprovar
                                                </button>
                                            </a>
                                        </div>
                                        {% endif %}
                                    </div>
                                    {% endif %}
                                    <!-- Botões do superuser fim -->

                                    <!-- Botão de curtida início -->
                                    <div>
                                        {% if sugestao in sugestoes_curtidas %}
                                        <button type="button" class="btn btn-outline-secondary active"
                                                style="cursor:default;">
                                            <ion-icon name="thumbs-up-outline"></ion-icon>
                                            Curtiu
                                        </button>
                                        <span class="top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                                {{ sugestao.numero_de_likes }}<span class="visually-hidden">
                                                Número de Votos</span></span>
                                        </button>
                                        {% else %}
                                        <button type="button" class="btn btn-outline-secondary" disabled
                                                style="cursor:default;">
                                            <ion-icon name="thumbs-up-outline"></ion-icon>
                                            Curtir
                                        </button>
                                        <span class="top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                                {{ sugestao.numero_de_likes }}<span class="visually-hidden">
                                                Número de Votos</span></span>
                                        </button>
                                        {% endif %}
                                    </div>
                                    <!-- Botão de curtida fim -->
                                </div>
                            </div>
                            <!-- Card header fim -->

                            <!-- Card body inicio -->
                            <div class="card-body">
                                <p>{{ sugestao.corpo }}</p>
                            </div>
                            <!-- Card body fim -->

                            <!-- Card footer inicio -->
                            <div class="card-footer text-muted">
                                {% if sugestao.imagem %}
                                <div class="d-flex justify-content-between">
                                    {% if sugestao.aprovada == False %}
                                    <small>Ps: Aguardando aprovação do administrador</small>
                                    {% endif %}
                                    <div>
                                        <a href="{{ sugestao.imagem.url }}" class="link-primary"
                                           target="_blank"
                                           title="Clique para visualizar">Imagem 🗂</a>
                                    </div>
                                    <div>
                                        {{ sugestao.data_registro }}
                                    </div>
                                </div>
                                {% else %}
                                <div class="d-flex justify-content-between">
                                    {% if sugestao.aprovada == False %}
                                    <small>Ps: Aguardando aprovação do administrador</small>
                                    {% endif %}
                                    <div>
                                        {{ sugestao.data_registro }}
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            <!-- Card footer fim -->
                        </div>
                    </div>
                    {% endfor %}

                    {% else %}
                    <div class="container text-center">
                        {% include 'nenhum_registrado.html' %}
                    </div>
                    {% endif %}

                </div>
                <!-- Container de cards fim -->


            </div>
            <!-- Conteúdo Sugestões implementadas fim -->

        </div>
    </div>
</div>

<!-- MODAL ADICIONAR SUJESTÃO -->
<div class="modal modal-lg fade" id="adicionar_sugestao" tabindex="-1" aria-labelledby="ADICIONAR_SUJESTAO"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content bg-dark bg-opacity-75 border border-white text-white">
            <div class="modal-header text-center flex items-center flex-col">
                <h1 class="fs-3">Sugestão de {{ usuario.primeiro_ultimo_nome }} ({{ usuario.username }}):</h1>
            </div>

            <div class="modal-body">
                <form action="{% url 'home:Sugestões' %}" enctype="multipart/form-data" method="POST"
                      class="ps-5 pe-5">
                    {% csrf_token %}
                    {{ form.corpo|as_crispy_field }}
                    {{ form.imagem|as_crispy_field }}

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar
                        </button>
                        <button type="submit" class="btn btn-primary">Confirmar
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

{% endblock %}