{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
Gerar Tabela / {{ SITE_NAME }}
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}


{% if tem_contratos %}

<div class="container pt-1 text-center text-justify justify-center">

    <form action="" method="POST">
        {% csrf_token %}
        <div
                class="container-auto m-1 border bg-dark bg-opacity-50 rounded flex justify-content-evenly items-center">
            <div class="p-1">
                Configurações da tabela:
            </div>
            <div class="p-1">
                Selecione o mês de inicio: {{ form.mes|as_crispy_field }}
            </div>
            <div class="p-1 text-center flex items-center flex-col">
                <div>Mostrar somente imóveis ativos:</div>
                <div>{{ form.mostrar_ativos|as_crispy_field }}</div>
            </div>
            <div class="p-1">
                Configurações das páginas:
            </div>
            <div class="p-1" style="cursor:default;" title="Seleciona a quantidade máxima de imóveis por página">
                Imóv. qtd.: {{ form.itens_qtd|as_crispy_field }}
            </div>
            <div class="p-1" style="cursor:default;" title="Seleciona a quantidade de meses para mostrar na tabela">
                Meses qtd.: {{ form.mostrar_qtd|as_crispy_field }}
            </div>
            <div class="p-1">
                <button class="bg-blue-600 py-2 px-3 text-white rounded-md form-control-sm" type="submit">Gerar
                </button>
            </div>
        </div>
    </form>

    {% if tem_imoveis %}
    <iframe class="border border-white rounded-2 my-2" src="{{ tabela }}" style="width:100%; height:920px;" frameborder="0"></iframe>
    {% else %}
    {% include 'nenhum_retorno_intervalo.html' %}
    {% endif %}

</div>
{% else %}
{% include 'nenhum_registrado.html' %}
{% endif %}
{% endblock %}

