{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
Gerador de Recibos do Administrador de Locação
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

{% if pede_dados %}
<container class="container pt-1 text-center text-justify justify-center">

    <h1 class="mx-auto fs-3 mt-5">Precisamos de alguns dados para preenchimento dos recibos, <a
            href="{% url 'home:Editar Perfil' request.user.pk %}" class="link-primary ext-decoration-none">clique
        aqui</a> para editar seu perfil</h1>

</container>
{% else %}
{% if tem_contratos %}
<container class="container pt-1 text-center text-justify justify-center">

    <form action="" method="POST">
        {% csrf_token %}
        <container
                class="container-auto m-1 border bg-dark bg-opacity-50 rounded flex justify-content-evenly items-center">
            <div class="p-1">
                Contrato: {{ form|crispy }}
            </div>
            <div class="p-1">
                <button class="bg-blue-600 py-2 px-3 text-white rounded-md form-control-sm" type="submit">Gerar
                </button>
            </div>
        </container>
    </form>
    {% if contrato.recibos_pdf.url is not '' %}
    <iframe src="{{ contrato.recibos_pdf.url }}"
            style="width:100%; height:820px;" frameborder="0"></iframe>
    {% endif %}

</container>
{% else %}
{% include 'nenhum_registrado.html' %}
{% endif %}
{% endif %}
{% endblock %}

