{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
Gerar Contrato / {{ SITE_NAME }}
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

{% if tem_contratos %}
<div class="container pt-1 text-center text-justify justify-center">

    <div class="container-auto m-1 border bg-dark bg-opacity-50 rounded flex justify-content-around items-center">
        <form method="POST">
            {% csrf_token %}
            <div class="flex justify-content-start items-center">
                <div class="p-1">
                    Contrato:
                </div>
                <div class="p-1">
                    {{ form.contrato|as_crispy_field }}
                </div>
                <div class="p-1">
                    <button class="btn bg-blue-600 py-2 px-3 text-white rounded-md form-control-sm" type="submit">
                        Carregar
                    </button>
                </div>
            </div>
        </form>
        <div class="flex justify-content-end items-center">
            {% if form2 or contrato_ultimo is False %}
            <div class="p-1">
                <button class="btn btn-outline-primary py-2 px-3 text-white rounded-md form-control-sm" disabled>
                    Modificar Configurações
                </button>
            </div>
            <div class="p-1">
                <a href="{% url 'home:Modelos' %}">
                    <button class="btn btn-outline-primary py-2 px-3 text-white rounded-md form-control-sm">
                        Editor de Modelos
                    </button>
                </a>
            </div>
            {% else %}
            <form method="POST">
                {% csrf_token %}
                <div class="p-1">
                    <button type="submit" name="mod" value="mod_ok"
                            class="btn btn-outline-primary py-2 px-3 text-white rounded-md form-control-sm">
                        Modificar Configurações
                    </button>
                </div>
            </form>
            <div class="p-1">
                <a href="{% url 'home:Modelos' %}">
                    <button class="btn btn-outline-primary py-2 px-3 text-white rounded-md form-control-sm">
                        Editor de Modelos
                    </button>
                </a>
            </div>
            {% endif %}
        </div>
    </div>

    {% if form2 %}
    <div class="container flex justify-center items-center">
        <div class="p-1 bg-black bg-opacity-50 border border-secondary rounded bg-gradient text-gray-100 text-center items-center flex-col">
            <p class="fs-3">Configurar documento deste contrato:</p>{{ contrato_ultimo_nome }}
            <hr class="mx-auto" width="75%"/>
            <br>
            <form method="POST" class="mask-x_form">
                {% csrf_token %}

                <div class="container text-center items-center">
                    <div class="row">
                        <div class="col-10 mx-auto">
                            {{ form2.do_modelo|as_crispy_field }}
                        </div>
                        <div class="col-4 mx-auto">
                            {{ form2.tipo_de_locacao|as_crispy_field }}
                        </div>
                        <div class="col-4 mx-auto">
                            {{ form2.caucao|as_crispy_field }}
                        </div>
                    </div>
                    <br>
                    <hr>
                    <h2 class="fs-5">Para fiador, preencha os campos abaixo:</h2>
                    <br>
                    <div class="row">
                        <div class="col-6">
                            {{ form2.fiador_nome|as_crispy_field }}
                        </div>
                        <div class="col-3">
                            {{ form2.fiador_RG|as_crispy_field }}
                        </div>
                        <div class="col-3">
                            {{ form2.fiador_CPF|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            {{ form2.fiador_ocupacao|as_crispy_field }}
                        </div>
                        <div class="col-3">
                            {{ form2.fiador_nacionalidade|as_crispy_field }}
                        </div>
                        <div class="col-3">
                            {{ form2.fiador_estadocivil|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        {{ form2.fiador_endereco_completo|as_crispy_field }}
                    </div>
                    <br>
                    <div class="justify-center items-center text-center">
                        <button class="bg-blue-600 py-1 px-3 text-white md:text-lg rounded-md" type="submit">
                            Gerar
                        </button>
                    </div>

                </div>

            </form>

        </div>
    </div>
    {% elif contrato_doc %}
    <iframe class="border border-white rounded-2 my-2" src="{{ contrato_doc }}" style="width:100%; height:920px;"
            frameborder="0"></iframe>
    {% else %}
    {% include 'selecione_um_contrato.html' %}
    {% endif %}

</div>

{% else %}
{% include 'nenhum_registrado.html' %}
{% endif %}

{% endblock %}
