{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
Login / {{ SITE_NAME }}
{% endblock %}

{% block head %}
<style>
    ion-icon {
    pointer-events: none;
}
</style>
{% endblock %}

{% block content %}

<div class="flex justify-center items-center">

    <div class="p-3 bg-black bg-opacity-50 mb-2 border border-secondary rounded bg-gradient text-dark">
        <div class="z-10 h-full  md:py-0 text-gray-100 text-center flex items-center flex-col">
            <form method="post">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Faça Login para continuar</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="justify-center items-center">
                    <button class="bg-blue-600 py-1 my-2 px-3 w-full text-white md:text-lg rounded-md" type="submit">
                        Fazer
                        Login
                    </button>
                    <button class="bg-blue-600 py-1 px-3 text-white md:text-lg rounded-md" onClick="history.go(-1)"
                            type="button">
                        Voltar
                    </button>
                </div>
            </form>
            <br>
            <p><strong>Ou faça Login com:</strong></p>
            <br>
            <div class="flex items-center">
                <div class="mx-5">
                    <a href="{% url 'social:begin' 'facebook' %}">
                        <ion-icon size="large" name="logo-facebook"></ion-icon>
                        <h1>Facebook</h1>
                    </a>
                </div>
                <div class="mx-5">
                    <a href="{% url 'social:begin' 'twitter' %}">
                        <ion-icon size="large" name="logo-twitter"></ion-icon>
                        <h1>Twitter</h1>
                    </a>
                </div>
                <div class="mx-5">
                    <a href="{% url 'social:begin' 'google' %}">
                        <ion-icon size="large" name="logo-google"></ion-icon>
                        <h1>Google</h1>
                    </a>
                </div>
            </div>
            <br>
            <small>
                Não tem uma conta ainda? <p><a href="{% url 'home:Criar Conta' %}">Clique aqui para criar uma conta</a>
            </p>
            </small>
        </div>
    </div>

</div>

{% endblock %}
