{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
Painel / {{ SITE_NAME }}
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

<div class="container-xxl my-1 text-center text-justify my-1">

    <div class="container-auto my-1 border bg-dark bg-opacity-50 rounded flex justify-content-evenly items-center">
        {% include 'botoes_painel.html' %}
    </div>

    <div class="px-2 py-2 bg-black bg-opacity-50 border border-secondary rounded bg-gradient text-dark">
        <div class="z-10 h-full md:py-0 text-gray-100 text-start flex items-center flex-col">

            <div class="row row-cols-1 row-cols-md-1 g-3" style="width: 100%;">

                <!-- Configurações da aplicação -->
                <div class="card bg-black text-white bg-opacity-50 border-secondary">
                    <div class="card-header fs-5">
                        Configurações da aplicação:
                    </div>
                    <form action="{% url 'home:Configurar App' %}" method="POST">
                        {% csrf_token %}
                        <div class="container">
                            <div class="row">
                                <div class="col mx-auto">
                                    {% for field in form_config_app %}
                                    {% if forloop.counter|divisibleby:2 %}
                                    {% else %}
                                    <div class="col mt-2 mb-2">
                                        <div class="fs-6">{{ field.label_tag }}</div>
                                        <div class="fs-6 text-black">{{ field }}</div>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="col mx-auto">
                                    {% for field in form_config_app %}
                                    {% if forloop.counter|divisibleby:2 %}
                                    <div class="col mt-2 mb-2">
                                        <div class="fs-6">{{ field.label_tag }}</div>
                                        <div class="fs-6 text-black">{{ field }}</div>
                                    </div>
                                    {% else %}
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <button type="submit" class="btn btn-secondary" title="Salvar configurações">
                                Salvar
                            </button>
                        </div>
                    </form>
                </div>
                <!-- Configurações de aplicação FIM -->

                <!-- Configurações de notificações -->
                <div class="card bg-black text-white bg-opacity-50 border-secondary">
                    <div class="card-header fs-5 text-start">
                        Configurações de notificações:
                    </div>
                    <form action="{% url 'home:Configurar Notificações' %}" method="POST">
                        {% csrf_token %}
                        <div class="container">
                            <div class="row">
                                <div class="col mx-auto">
                                    {% for field in form_config %}
                                    {% if forloop.counter|divisibleby:2 %}
                                    {% else %}
                                    <div class="col mt-2 mb-2">
                                        <div class="fs-6">{{ field.label_tag }}</div>
                                        <div class="fs-6">{{ field }}</div>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="col mx-auto">
                                    {% for field in form_config %}
                                    {% if forloop.counter|divisibleby:2 %}
                                    <div class="col mt-2 mb-2">
                                        <div class="fs-6">{{ field.label_tag }}</div>
                                        <div class="fs-6">{{ field }}</div>
                                    </div>
                                    {% else %}
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <button type="submit" class="btn btn-secondary" title="Salvar configurações">
                                Salvar
                            </button>
                        </div>
                    </form>

                </div>

                <!-- Configurações de notificações FIM -->

                <!-- Segurança da conta -->
                <div class="card bg-black text-white bg-opacity-50 border-secondary">
                    <div class="card-header fs-5">
                        Segurança da conta:
                    </div>

                    <div class="card-body">
                        <div class="ml-3">
                            <div class="fs-6">Autenticação de dois fatores:</div>
                            {% if tfa %}
                            <small class="text-success">
                                ✔️ Autenticação de dois fatores configurada.</small>
                            {% else %}
                            <small class="text-warning">⚠️ A autenticação de dois fatores não está configurada.</small>
                            {% endif %}
                            <br>
                            {% if tokens_qtd == 0 %}
                            <small class="text-warning">
                                ⚠️ Você não tem nenhum token reserva gerado.</small>
                            {% else %}
                            <small class="text-success">
                                ✔️ Você tem {{ tokens_qtd }} token(s) reserva(s).</small>
                            {% endif %}
                            <br>
                            <div class="flex justify-content-start mt-1">
                                {% if tfa %}
                                <form action="{% url 'two_factor:disable' %}" class="mr-2">
                                    <button type="submit" class="btn btn-outline-danger"
                                            title="Remover autenticação de dois fatores">
                                        Desabilitar
                                    </button>
                                </form>

                                <form action="{% url 'two_factor:backup_tokens' %}" class="mr-2">
                                    <button type="submit" class="btn btn-outline-secondary">
                                        Tokens estáticos
                                    </button>
                                </form>
                                {% else %}
                                <form action="{% url 'two_factor:setup' %}" class="mr-2">
                                    <button type="submit" class="btn btn-outline-primary"
                                            title="Configurar autenticação de dois fatores">
                                        Configurar
                                    </button>
                                </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Segurança da conta FIM -->

                <!-- Backup e restauração de dados -->
                <div class="card bg-black text-white bg-opacity-50 border-secondary">
                    <div class="card-header fs-5">
                        Backup e restauração de dados:
                    </div>

                    <div class="card-body">

                        <div class="flex justify-content-start">
                            <form action="" class="mr-2">
                                <button type="submit" class="btn btn-outline-primary"
                                        title="Baixar arquivo com todos os dados">
                                    Baixar Backup
                                </button>
                            </form>

                            <form action="" class="mr-2">
                                <button type="submit" class="btn btn-outline-primary"
                                        title="Carregar arquivo de backup para restauração de dados">
                                    Restaurar Backup
                                </button>
                            </form>

                            <form action="{% url 'home:Baixar Planilha' %}" class="mr-2">
                                <button type="submit" class="btn btn-outline-secondary"
                                        title="Baixar todos os registros em formato de planilha/Formato não restaurável">
                                    Baixar Planilha
                                </button>
                            </form>
                        </div>

                        <br>
                        <small class="text-muted">Por questão de segurança o arquivo de backup será criptografado e
                            só poderá ser restaurado nesta conta.</small>
                        <br>
                        <small class="text-muted">A planilha é um arquivo no formato csv não criptografado, este
                            documento não poderá ser restaurado, apenas baixado.</small>
                    </div>

                </div>
                <!-- Backup e restauração de dados FIM -->

            </div>

        </div>
    </div>

</div>
{% endblock %}
