{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
Painel / {{ SITE_NAME }}
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

<div class="container-xxl my-1 text-center text-justify my-1">

    <div class="container-auto my-1 border bg-dark bg-opacity-50 rounded flex justify-content-evenly items-center">
        {% include 'botoes_painel.html' %}
    </div>

    <div class="px-2 py-2 bg-black bg-opacity-50 border border-secondary rounded bg-gradient text-dark">
        <div class="z-10 h-full  md:py-0 text-gray-100 text-center flex items-center flex-col">


        </div>
    </div>
</div>
{% endblock %}