Django~=4.2.9
python-dateutil~=2.8.2
django-crispy-forms~=2.1
XlsxWriter~=3.1.9
num2words~=0.5.13
django-ckeditor~=6.7.0
Faker~=22.6.0
cryptography~=42.0.2
reportlab~=4.0.9
xhtml2pdf==0.2.14
stripe==8.1.0
requests~=2.31.0
python-dotenv~=1.0.1