<p style="text-align:center"><span style="color:#3498db"><span style="font-size:48px"><strong><span
        style="background-color:#ecf0f1">Alugue seu Im&oacute;vel</span></strong></span></span></p><p
        style="text-align:center"><span style="font-size:14px"><a href="{{ site }}">{{ site }}</a></span></p>


<p style="text-align:center"><span style="font-size:26px">Ol&aacute; {{ username }},</span><br/><span style="font-size:22px">
    Este &eacute; o seu c&oacute;digo de confirma&ccedil;&atilde;o de email:</span></p>

<p style="text-align:center"><span style="font-size:22px"><span style="color:#2980b9"><span
        style="background-color:#ecf0f1">{{ codigo }}</span></span><br/>Ou clique no link abaixo.</span></p>

<p style="text-align:center"><span style="background-color:#ecf0f1"><a href="{{ link }}">{{ link }}</a></span>
</p>

<p style="text-align:center"><span style="font-size:16px">Esta confirma&ccedil;&atilde;o expira em {{ tempo }} horas.<br/>N&atilde;o compartilhe este c&oacute;digo nem este
    e-mail com ningu&eacute;m. Se voc&ecirc; n&atilde;o solicitou a confirma&ccedil;&atilde;o, voc&ecirc; pode ignorar essa mensagem com seguran&ccedil;a.</span>
</p>
