<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Recuperar conta</title>
</head>
<body>

{% autoescape off %}

<p style="text-align:center"><span style="color:#3498db"><span style="font-size:48px"><strong><span
        style="background-color:#ecf0f1">{{ site_name }}</span></strong></span></span></p>
<p
        style="text-align:center"><span style="font-size:14px"><a href="{{ domain }}">{{ domain }}</a></span></p>

<p style="text-align:center"><span style="font-size:26px">Ol&aacute; {{ user.username }},</span><br/><span
        style="font-size:22px">
    Recebemos uma solicitação para redefinir sua senha do {{ site_name }}. Você pode alterá-la clicando
    no link abaixo:
</span></p>

<p style="text-align:center"><span style="background-color:#ecf0f1"><a href="{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}</a></span>
</p>

<p style="text-align:center"><span
        style="font-size:16px">Esta confirma&ccedil;&atilde;o expira em 30 minutos.<br/>N&atilde;o compartilhe este link nem este
    e-mail com ningu&eacute;m. Se voc&ecirc; n&atilde;o solicitou a confirma&ccedil;&atilde;o, voc&ecirc; pode ignorar essa mensagem com seguran&ccedil;a.</span>
</p>

{% endautoescape %}

</body>
</html>
