{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

<container class="flex justify-center items-center">

    <container class="p-3 bg-black bg-opacity-50 mb-2 border border-secondary rounded bg-gradient text-dark">
        <div class="z-10 h-full py-32 md:py-0 text-gray-100 text-center flex items-center flex-col">
            <form action="{% url 'navbar:Editar Contrato' contrato.pk %}" method="POST" class="ps-5 pe-5 mask-x_form">
                {% csrf_token %}
                <div class="row">
                    <div class="col">
                        {{ form.do_locatario|as_crispy_field }}
                    </div>
                    <div class="col">
                        {{ form.do_imovel|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ form.data_entrada|as_crispy_field }}
                    </div>
                    <div class="col">
                        {{ form.data_saida|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ form.valor_mensal|as_crispy_field }}
                    </div>
                    <div class="col">
                        {{ form.dia_vencimento|as_crispy_field }}
                    </div>
                </div>
                <div class="justify-center items-center">
                    <button class="bg-blue-600 py-1 px-3 text-white md:text-lg rounded-md" type="button"
                            onClick="history.go(-1)">Voltar
                    </button>
                    <button class="bg-blue-600 py-1 px-3 text-white md:text-lg rounded-md" type="submit">Confirmar
                    </button>
                </div>
            </form>
        </div>
    </container>
</container>

{% endblock %}
