{% extends 'base.html' %}

{% load static %}

{% block titulo %}
Página dos Gastos do Administrador de Locação
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

{% if gastos %}
<container class="container-fluid row">

    <div class="col text-center text-justify">
        <table class="table mx-1 my-1 align-middle table-sm table-hover table-bordered border-secondary table-striped table-dark">
            <thead>
            <tr>
                <th scope="col" style="cursor:default;"></th>
                <th scope="col" style="cursor:default;">Imovel</th>
                <th scope="col" style="cursor:default;">Valor</th>
                <th scope="col" style="cursor:default;">Data do Envento</th>
                <th scope="col" style="cursor:default;">Observações</th>
                <th scope="col" style="cursor:default;">Docs</th>
                <th scope="col" style="cursor:default;">Editar</th>
                <th scope="col" style="cursor:default;">Excluir</th>
            </tr>
            </thead>

            {% for gasto in gastos %}
            {% if forloop.counter|divisibleby:2 %}
            {% else %}
            <tbody>

            <tr>
                <th scope="col" style="cursor:default;">{{ page_obj.start_index|add:forloop.counter0 }}</th>
                <th scope="col" style="cursor:default;">{{ gasto.do_imovel }}</th>
                <th scope="col" style="cursor:default;">{{ gasto.valor_br }}</th>
                <th scope="col" style="cursor:default;">{{ gasto.data|date:"d/m/Y" }}</th>
                <th scope="col" style="cursor:default;" title="{{ gasto.observacoes }}">
                    {{ gasto.observacoes|truncatechars:100 }}
                </th>
                {% if gasto.comprovante %}
                <th scope="col">
                    <a href="{{ gasto.comprovante.url }}" class="link-primary" target="_blank"
                       title="Clique para visualizar">🗂</a></th>
                {% else %}
                <th scope="col" style="cursor:default;" title="Sem registro">✖️</th>
                {% endif %}
                <th scope="col"><a class="link-primary" href="{% url 'navbar:Editar Gasto' gasto.pk %}"
                                   title="Editar">✒️</a></th>
                <th scope="col"><a class="link-danger" href="{% url 'navbar:Excluir Gasto' gasto.pk %}"
                                   title="Excluir">❌</a></th>
                {% endif %}
                {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col text-center text-justify">
        <table class="table mx-1 my-1 align-middle table-sm table-hover table-bordered border-secondary table-striped table-dark">
            <thead>
            <tr>
                <th scope="col" style="cursor:default;"></th>
                <th scope="col" style="cursor:default;">Imovel</th>
                <th scope="col" style="cursor:default;">Valor</th>
                <th scope="col" style="cursor:default;">Data do Envento</th>
                <th scope="col" style="cursor:default;">Observações</th>
                <th scope="col" style="cursor:default;">Docs</th>
                <th scope="col" style="cursor:default;">Editar</th>
                <th scope="col" style="cursor:default;">Excluir</th>
            </tr>
            </thead>

            {% for gasto in gastos %}
            {% if forloop.counter|divisibleby:2 %}

            <tbody>
            <tr>
                <th scope="col" style="cursor:default;">{{ forloop.counter }}</th>
                <th scope="col" style="cursor:default;">{{ gasto.do_imovel }}</th>
                <th scope="col" style="cursor:default;">{{ gasto.valor_br }}</th>
                <th scope="col" style="cursor:default;">{{ gasto.data|date:"d/m/Y" }}</th>
                <th scope="col" style="cursor:default;" title="{{ gasto.observacoes }}">
                    {{ gasto.observacoes|truncatechars:100 }}
                </th>
                {% if gasto.comprovante %}
                <th scope="col">
                    <a href="{{ gasto.comprovante.url }}" class="link-primary" target="_blank"
                       title="Clique para visualizar">🗂</a></th>
                {% else %}
                <th scope="col" style="cursor:default;" title="Sem registro">✖️</th>
                {% endif %}
                <th scope="col"><a class="link-primary" href="{% url 'navbar:Editar Gasto' gasto.pk %}"
                                   title="Editar">✒️</a></th>
                <th scope="col"><a class="link-danger" href="{% url 'navbar:Excluir Gasto' gasto.pk %}"
                                   title="Excluir">❌</a></th>
                {% endif %}
                {% endfor %}
            </tr>
            </tbody>
        </table>

    </div>

</container>

{% else %}
<container class="container-fluid text-center text-justify">
    {% include 'nenhum_registrado.html' %}
</container>
{% endif %}

{% endblock %}