{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block titulo %}
Página dos Locatários do Administrador de Locação
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

<container class="container-fluid pt-1 text-center text-justify">
    {% if locatarios %}

    <table class="table mx-1 my-1 align-middle table-sm table-hover table-bordered border-secondary table-striped table-dark">
        <thead>
        <tr>
            <th scope="col" style="cursor:default;"></th>
            <th scope="col" style="cursor:default;">Nome</th>
            <th scope="col" style="cursor:default;">RG</th>
            <th scope="col" style="cursor:default;">CPF</th>
            <th scope="col" style="cursor:default;">Ocupação</th>
            <th scope="col" style="cursor:default;">Telefone 1</th>
            <th scope="col" style="cursor:default;">Telefone 2</th>
            <th scope="col" style="cursor:default;">Email</th>
            <th scope="col" style="cursor:default;">Nacionalidade</th>
            <th scope="col" style="cursor:default;">Estado Civil</th>
            <th scope="col" style="cursor:default;">Docs</th>
            <th scope="col" style="cursor:default;">Editar</th>
            <th scope="col" style="cursor:default;">Excluir</th>
        </thead>
        <tbody>

        {% for locatario in locatarios %}
        <tr>
            <th scope="col" style="cursor:default;">{{ page_obj.start_index|add:forloop.counter0 }}</th>
            <th scope="col" style="cursor:default;" title="{{ locatario.nome }}">{{ locatario.nome|truncatechars:45 }}
            </th>
            <th scope="col" style="cursor:default;">{{ locatario.RG }}</th>
            <th scope="col" style="cursor:default;">{{ locatario.CPF }}</th>
            <th scope="col" style="cursor:default;" title="{{ locatario.ocupacao }}">
                {{ locatario.ocupacao|truncatechars:45 }}
            </th>
            <th scope="col" style="cursor:default;">{{ locatario.telefone1 }}</th>
            <th scope="col" style="cursor:default;">{{ locatario.telefone2 }}</th>
            <th scope="col" style="cursor:default;" title="{{ locatario.email }}">
                {{ locatario.email|truncatechars:35 }}
            </th>
            <th scope="col" style="cursor:default;">{{ locatario.nacionalidade }}</th>
            <th scope="col" style="cursor:default;">{{ locatario.get_estadocivil_display }}</th>

            {% if locatario.docs %}
            <th scope="col">
                <a href="{{ locatario.docs.url }}" class="link-primary" target="_blank" title="Clique para visualizar">🗂</a>
            </th>
            {% else %}
            <th scope="col" style="cursor:default;" title="Sem registro">✖️</th>
            {% endif %}

            <th scope="col"><a class="link-primary" href="{% url 'navbar:Editar Locatario' locatario.pk %}"
                               title="Editar">✒️</a></th>
            <th scope="col"><a class="link-danger" href="{% url 'navbar:Excluir Locatario' locatario.pk %}"
                               title="Excluir">❌</a></th>

            {% endfor %}
        </tr>
        </tbody>
    </table>


</container>

{% else %}
{% include 'nenhum_registrado.html' %}
{% endif %}

{% endblock %}
