{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block titulo %}
Recuperar conta / {{ SITE_NAME }}
{% endblock %}

{% block content %}
<div class="flex justify-center items-center">
    <div class="p-3 bg-black bg-opacity-50 mb-2 border border-secondary rounded bg-gradient text-dark">
        <div class="z-10 h-full md:py-0 text-gray-100 text-center flex items-center flex-col">
            <legend class="border-bottom mb-4">Recuperar conta</legend>
            <br>
            <p class="text-truncate">Um email com instruções para configurar sua senha foi enviado, se existe uma conta com o email fornecido,
                você receberá a mensagem em breve.
                <br>
                Se você não recebeu o email, por favor certifique-se que você
                forneceu o endereço cadastrado e verifique sua pasta de spam.</p>
        </div>
    </div>
</div>
{% endblock %}
