{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
Recuperar conta / {{ SITE_NAME }}
{% endblock %}

{% block content %}


<div class="flex justify-center items-center">
    <div class="p-3 bg-black bg-opacity-50 mb-2 border border-secondary rounded bg-gradient text-dark">
        <div class="z-10 h-full md:py-0 text-gray-100 text-center flex items-center flex-col">
            <legend class="border-bottom mb-4">Recuperar conta</legend>
            <br>
            {% if validlink %}
            <p>Por favor, digite sua nova senha duas vezes para verificarmos se você a digitou corretamente</p>
            <br>
            <form method="post">{% csrf_token %}
                <fieldset class="module aligned">
                    <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
                    <div class="form-row field-password1">
                        {{ form.new_password1.errors }}
                        {{ form.new_password1|as_crispy_field }}
                    </div>
                    <div class="form-row field-password2">
                        {{ form.new_password2.errors }}
                        {{ form.new_password2|as_crispy_field }}
                    </div>
                    <button class="bg-blue-600 py-1 px-3 text-white md:text-lg rounded-md" type="submit"
                            value="{% translate 'Change my password' %}">
                        Alterar minha senha
                    </button>
                </fieldset>
            </form>

            {% else %}

            <p>O link de redefinição de senha é inválido, possivelmente porque já foi usado.
                <br>
                Solicite uma nova redefinição de senha.</p>

        </div>
    </div>
</div>


{% endif %}

{% endblock %}
