{% load static %}
{% block head %}

{% load crispy_forms_tags %}

<style>
    .modal-header .close {
        float: right !important;
        margin-right: -30px !important;
        margin-top: -30px !important;
        background-color: white !important;
        border-radius: 15px !important;
        width: 30px !important;
        height: 30px !important;
        opacity: 1 !important;
    }
</style>
{% endblock %}

{% if request.resolver_match.url_name == 'home' %}
<section class='flex flex-col md:flex-row items-center border-gray-900 border-b-8' style="min-height: 70vh;">
    <div class="md:w-1/2 flex flex-col justify-center text-center md:text-left p-5 md:p-10 ">
        <h2 class="md:text-5xl text-4xl font-semibold mb-4">
            Gere recibos em PDF para impressão.
        </h2>
        <h5 class="md:text-xl text-lg">
            O gerador de recibos em PDF preenche tudo para você. É só gerar e imprimir.
        </h5>
    </div>
    <div class='md:w-1/2 flex justify-center items-center'>
        <img src="{% static 'images/ex_home_001.jpg' %}" class="w-11/12" alt="">
    </div>
</section>

<section class='flex flex-col md:flex-row items-center border-gray-900 border-b-8' style="min-height: 70vh;">
    <div class="md:w-1/2 flex flex-col justify-center text-center md:text-left p-5 md:p-10 ">
        <h2 class="md:text-5xl text-4xl font-semibold mb-4">
            Gere tabelas em PDF para impressão.
        </h2>
        <h5 class="md:text-xl text-lg">
            A tabela organiza seus imóveis como em uma agenda, ela é ótima para visualizar o período de locação dos
            seus imóveis no tempo.
        </h5>
    </div>
    <div class='md:w-1/2 flex justify-center items-center'>
        <img src="{% static 'images/ex_home_002.jpg' %}" class="w-11/12" alt="">
    </div>
</section>

<section class='flex flex-col md:flex-row items-center border-gray-900 border-b-8' style="min-height: 70vh;">
    <div class="md:w-1/2 flex flex-col justify-center text-center md:text-left p-5 md:p-10 ">
        <h2 class="md:text-5xl text-4xl font-semibold mb-4">
            Gere contratos em PDF para impressão.
        </h2>
        <h5 class="md:text-xl text-lg">
            Gere contratos para impressão de forma fácil, eles são preenchidos automaticamente e você conta com um
            editor para criar seus próprios modelos.
        </h5>
    </div>
    <div class='md:w-1/2 flex justify-center items-center'>
        <img src="{% static 'images/ex_home_003.jpg' %}" class="w-11/12" alt="">
    </div>
</section>
{% endif %}

{% if user.is_authenticated %}
<footer>
    <div class="mt-2 mb-2 items-center text-center">

        <div class="mx-auto">
            <form action="{% url 'home:Sugestões' %}">
                <button type="submit" class="link-primary">
                    Sugestões
                </button>
            </form>
        </div>
        <div class="mx-auto">
            <a href="" class="link-primary" data-bs-toggle="modal" data-bs-target="#modal1"><h1>Fale com o
                Desenvolvedor</h1></a>
        </div>
        {% if user.is_superuser or debug_true %}
        <div class="mx-auto">
            <a href="" class="link-primary" data-bs-toggle="modal" data-bs-target="#modal2"><h1>Gerador de
                fictícios</h1></a>
        </div>
        {% endif %}
        <div class="mx-auto">
            <small>© 2022 - {{ ano_atual }} - {{ SITE_NAME }}</small>
        </div>

        {% else %}
        <div class="flex justify-center items-center">
            <h1>© 2022 - {{ ano_atual }} - {{ SITE_NAME }}</h1>
        </div>
        {% endif %}
    </div>
</footer>

{% if user.is_authenticated %}
<!-- MODAL 1 -->
<div class="modal fade modal-xl" id="modal1" tabindex="-1" aria-labelledby="MODAL" aria-hidden="true">
    <div class="modal-dialog modal-scrollable">
        <div class="modal-content bg-dark border border-white text-white">
            <div class="container">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Fale com o Desenvolvedor</h1>
                </div>
                <div class="">
                    <div class="modal-body">
                        <p class="text-start ps-5 pe-5">
                            Elogios, reclamações, dúvidas, sugestões e report de bugs são bem vindos! Exagere nos
                            elogios,
                            manere nos xingamentos, e as dúvidas serão respondidas o mais breve possível. Em caso de
                            sugestão, por favor, entre no mini-fórum clicando
                            <a href="{% url 'home:Sugestões' %}" class="link-primary">AQUI</a>.
                            Envie uma imagem se quiser, principalmente no report de bugs, obrigado!
                        </p>
                        <br>
                        <form action="{% url 'home:Mensagem pro Desenvolvedor' %}" method="POST"
                              enctype="multipart/form-data">
                            {% csrf_token %}

                            {{ form_mensagem|crispy }}

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                <button type="submit" class="btn btn-primary">Enviar Mensagem</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if user.is_authenticated %}
{% if user.is_superuser or debug_true %}
<!-- MODAL 2 -->
<div class="modal fade modal-lg" id="modal2" tabindex="-1" aria-labelledby="MODAL" aria-hidden="true">
    <div class="modal-dialog modal-scrollable">
        <div class="modal-content bg-dark border border-white text-white">
            <div class="modal-header">
                <h2 class="modal-title fs-5">Gerador de fictícios</h2>
            </div>
            <form method="POST" action="{% url 'home:botaoteste' %}">
                {% csrf_token %}
                <div class="modal-body">
                    {{ botao_admin.criar_usuarios|as_crispy_field }}
                    <div class="row">
                        <div class="col-2">
                            {{ botao_admin.qtd_usuario|as_crispy_field }}
                        </div>
                        <div class="col-2">
                            {{ botao_admin.multiplicar_user_por|as_crispy_field }}
                        </div>
                    </div>
                    <hr>
                    <br>
                    {{ botao_admin.criar_itens|as_crispy_field }}
                    <div class="row justify-content-md-center text-center">
                        <div class="col">
                            {{ botao_admin.qtd_locatario|as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ botao_admin.qtd_imovel_g|as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ botao_admin.qtd_imovel|as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ botao_admin.qtd_contrato|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row justify-content-md-center text-center">
                        <div class="col">
                            {{ botao_admin.qtd_pagamento|as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ botao_admin.qtd_gasto|as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ botao_admin.qtd_nota|as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ botao_admin.qtd_sugestao|as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ botao_admin.qtd_contr_modelo|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row d-flex align-items-end text-center">
                        <div class="col-2">
                            {{ botao_admin.multiplicar_por|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ botao_admin.todos_ou_cada|as_crispy_field }}
                        </div>
                        <div class="col-4">
                            {{ botao_admin.para_o_usuario|as_crispy_field }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" onclick="fill_zero(0)">Zerar Tudo</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="submit" class="mt-1 btn btn-primary">GO!</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endif %}
