{% if messages %}
{% for message in messages %}

<div style="z-index: 10;" class="position-absolute bottom-0 start-50 translate-middle-x w-50 opacity-75 alert {{ message.tags }}">
   <strong>{{ message }}</strong>
      <div class=" position-absolute top-50 end-0 translate-middle">
         <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar">
            <ion-icon size="small" name="close-circle-outline"></ion-icon></button>
      </div>
</div>

{% endfor %}
{% endif %}
