<div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasRight"
     aria-labelledby="offcanvasRightLabel">

    <!-- Offcanvas header -->
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Tarefas</h5>
        <button type="button" class="btn-close-black" data-bs-dismiss="offcanvas" aria-label="Close">X</button>
    </div>
    <!-- Fim do Offcanvas header -->

    <!-- Botões do offcanvas -->
    <div class="col mx-1">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="lidas-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane"
                        type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Tarefas Novas
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="naolidas-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane"
                        type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Histórico de
                    Tarefas
                </button>
            </li>
        </ul>
    </div>
    <!-- Fim dos Botões do offcanvas -->

    <!-- Exibir conteúdo dos botões -->
    <div class="tab-content" style="height:100%; overflow-y:scroll; width:100%;" id="myTabContent">

        <!-- Primeiro conteúdo -->
        <div class="tab-pane fade show active" id="home-tab-pane"
             role="tabpanel" aria-labelledby="home-tab"
             tabindex="0">
            <div class="offcanvas-body d-grid gap-1">
                {% for tarefa in tarefas %}

                <div class="card bg-gray-900 {{ tarefa.borda }}">
                    <div class="card-body mx-1 my-1 px-1 py-1">
                        <p class="fw-bold">{{ tarefa.autor_tipo_display }}:</p>
                        <p class="card-text small lh-sm">{{ tarefa.texto }}</p>
                    </div>
                    <div class="col text-muted text-end align-text-bottom">
                        <small class="me-1">{{ tarefa.data_registro }}</small>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col">
                                {% if tarefa.autor_tipo == 1 %}

                                <a href="{% url 'home:Recibo Entregue' tarefa.pk %}"
                                   class="btn btn-outline-primary btn-sm small">Confirmar</a>

                                {% elif tarefa.autor_tipo == 2 %}

                                <a href="{% url 'home:Afazer Concluida' tarefa.pk %}"
                                   class="btn btn-outline-primary btn-sm small">Concluída</a>

                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>
        <!-- Fim do Primeiro conteúdo -->

        <!-- Segundo conteúdo -->
        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            <div class="offcanvas-body d-grid gap-1">
                {% for tarefa in tarefas_hist %}
                <div class="card bg-dark text-secondary {{ tarefa.borda }}">
                    <div class="card-body mx-1 my-1 px-1 py-1">
                        <p class="fw-bold">{{ tarefa.autor_tipo_display }}:</p>
                        <p class="card-text small lh-sm">{{ tarefa.texto }}</p>
                    </div>
                    <div class="col text-muted text-end align-text-bottom">
                        <small class="me-1">{{ tarefa.data_registro }} </small>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col">
                                {% if tarefa.autor_tipo == 1 %}

                                {% if tarefa.recibo_entregue is True %}
                                <button type="button" class="btn btn-outline-primary bg-gray-800 btn-sm small"><a
                                        href="{% url 'home:Recibo não Entregue' tarefa.pk %}">Não entregue
                                </a></button>
                                <button type="button" class="btn btn-outline-primary bg-gray-800 btn-sm small" disabled>
                                    Confirmar
                                </button>
                                {% else %}
                                <button type="button" class="btn btn-outline-primary bg-gray-800 btn-sm small" disabled>
                                    Não entregue
                                </button>
                                <button type="button" class="btn btn-outline-primary bg-gray-800 btn-sm small"><a
                                        href="{% url 'home:Recibo Entregue' tarefa.pk %}">Confirmar
                                </a></button>
                                {% endif %}

                                {% elif tarefa.autor_tipo == 2 %}

                                {% if tarefa.afazer_concluida %}
                                <button type="button" class="btn btn-outline-primary bg-gray-800 btn-sm small" disabled>
                                    À fazer
                                </button>
                                <button type="button" class="btn btn-outline-primary bg-gray-800 btn-sm small"><a
                                        href="{% url 'home:Afazer Concluida' tarefa.pk %}">Concluída
                                </a></button>
                                {% else %}
                                <button type="button" class="btn btn-outline-primary bg-gray-800 btn-sm small"><a
                                        href="{% url 'home:Afazer não Concluida' tarefa.pk %}">À fazer
                                </a></button>
                                <button type="button" class="btn btn-outline-primary bg-gray-800 btn-sm small" disabled>
                                    Concluída
                                </button>
                                {% endif %}

                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- Fim do Segundo conteúdo -->

    </div>
    <!--Fim do Exibir conteúdo dos botões -->

</div>
<!-- Fim do offcanvas -->
