<div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasRight"
     aria-labelledby="offcanvasRightLabel">

    <!-- Offcanvas header -->
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Notificações</h5>
        <button type="button" class="btn-close-black" data-bs-dismiss="offcanvas" aria-label="Close">X</button>
    </div>
    <!-- Fim do Offcanvas header -->

    <!-- Botões do offcanvas -->
    <div class="col mx-1">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="lidas-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane"
                        type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Novas Notificações
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="naolidas-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane"
                        type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Histórico
                </button>
            </li>
        </ul>
    </div>
    <!-- Fim dos Botões do offcanvas -->

    <!-- Exibir conteúdo dos botões -->
    <div class="tab-content" style="height:100%; overflow-y:scroll; width:100%;" id="myTabContent">

        <!-- TAREFAS NOVAS -->
        <div class="tab-pane fade show active" id="home-tab-pane"
             role="tabpanel" aria-labelledby="home-tab"
             tabindex="0">
            <div class="offcanvas-body d-grid gap-1">
                {% for tarefa in tarefas %}

                <div class="card bg-gray-900 {{ tarefa.borda }}">
                    <div class="card-body mx-1 my-1 px-1 py-1">
                        <p class="fw-bold">{{ tarefa.autor_tipo_display }}:</p>
                        <p class="card-text small lh-sm">{{ tarefa.texto|safe }}</p>
                    </div>
                    <div class="col text-muted text-end align-text-bottom">
                        <small class="me-1">{{ tarefa.data_registro }}</small>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col">

                                {% if tarefa.autor_tipo == 1 %}
                                <div class="d-flex justify-content-start">
                                    <form action="{% url 'home:Recibo Entregue' tarefa.pk %}">
                                        <button type="submit" class="btn btn-outline-primary btn-sm small ms-1">
                                            Confirmar
                                        </button>
                                    </form>
                                </div>

                                {% elif tarefa.autor_tipo == 2 %}
                                <div class="d-flex justify-content-start">
                                    <form action="{% url 'home:Afazer Concluida' tarefa.pk %}">
                                        <button type="submit" class="btn btn-outline-primary btn-sm small ms-1">
                                            Concluída
                                        </button>
                                    </form>
                                </div>

                                {% elif tarefa.autor_tipo == 3 %}
                                <div class="d-flex justify-content-start">
                                    <form action="{% url 'home:Contrato Recebido' tarefa.pk %}">
                                        <button type="submit" class="btn btn-outline-primary btn-sm small ms-1">
                                            Recebido
                                        </button>
                                    </form>
                                    <form action="{% url 'home:Excluir Contrato' tarefa.pk %}">
                                        <button type="submit" class="btn btn-outline-primary btn-sm small ms-1">
                                            Excluir
                                        </button>
                                    </form>
                                </div>

                                {% elif tarefa.autor_tipo == 4 %}
                                <div class="d-flex justify-content-start">
                                    <form action="{% url 'home:Aviso Lido' tarefa.pk %}">
                                        <button type="submit" class="btn btn-outline-primary btn-sm small ms-1">
                                            Lido
                                        </button>
                                    </form>
                                </div>

                                {% elif tarefa.autor_tipo == 5 %}
                                <div class="d-flex justify-content-start">
                                    <form action="{% url 'home:Revisar Locatário' tarefa.pk %}">
                                        <button type="submit" class="btn btn-outline-primary btn-sm small ms-1">
                                            Revisar 📋
                                        </button>
                                    </form>
                                    <form action="{% url 'home:Excluir Locatario' tarefa.content_object.pk %}">
                                        <button type="submit" class="btn btn-outline-primary btn-sm small ms-1">
                                            Excluir 🗑️
                                        </button>
                                    </form>
                                </div>

                                {% elif tarefa.autor_tipo == 6 %}
                                <div class="d-flex justify-content-start">
                                    <form action="{% url 'home:Painel' %}">
                                        <button type="submit" class="btn btn-outline-primary btn-sm small ms-1">
                                            Painel 🎛️
                                        </button>
                                    </form>

                                    <form action="{% url 'home:Aviso Lido' tarefa.pk %}">
                                        <button type="submit" class="btn btn-outline-primary btn-sm small ms-1">
                                            Lido
                                        </button>
                                    </form>
                                </div>

                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>
        <!-- Fim do TAREFAS NOVAS -->

        <!-- HISTÓRICO DE TAREFAS -->
        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            <div class="offcanvas-body d-grid gap-1">
                {% for tarefa in tarefas_hist %}
                <div class="card bg-dark text-secondary {{ tarefa.borda }}">
                    <div class="card-body mx-1 my-1 px-1 py-1">
                        <p class="fw-bold">{{ tarefa.autor_tipo_display }}:</p>
                        <p class="card-text small lh-sm">{{ tarefa.texto|safe }}</p>
                    </div>
                    <div class="col text-muted text-end align-text-bottom">
                        <small class="me-1">{{ tarefa.data_registro }} </small>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col">

                                {% if tarefa.autor_tipo == 1 %}
                                <div class="d-flex justify-content-start">
                                    <form action="{% url 'home:Recibo Entregue' tarefa.pk %}">
                                        <button type="submit"
                                                class="btn btn-outline-primary bg-gray-800 btn-sm small ms-1">
                                            Não entregue
                                        </button>
                                    </form>
                                    <button type="button" class="btn btn-outline-primary bg-gray-800 btn-sm small ms-1"
                                            disabled>
                                        Confirmar
                                    </button>
                                </div>

                                {% elif tarefa.autor_tipo == 2 %}
                                <div class="d-flex justify-content-start">
                                    <form action="{% url 'home:Afazer Concluida' tarefa.pk %}">
                                        <button type="submit"
                                                class="btn btn-outline-primary bg-gray-800 btn-sm small ms-1">
                                            À fazer
                                        </button>
                                    </form>
                                    <button type="button" class="btn btn-outline-primary bg-gray-800 btn-sm small ms-1"
                                            disabled>
                                        Concluída
                                    </button>
                                </div>

                                {% elif tarefa.autor_tipo == 3 %}
                                <div class="d-flex justify-content-start">
                                    <form action="{% url 'home:Contrato Recebido' tarefa.pk %}">
                                        <button type="submit"
                                                class="btn btn-outline-primary bg-gray-800 btn-sm small ms-1">
                                            Não Recebido
                                        </button>
                                    </form>
                                    <button type="button" class="btn btn-outline-primary bg-gray-800 btn-sm small ms-1"
                                            disabled>
                                        Recebido
                                    </button>
                                    <form action="{% url 'home:Excluir Contrato' tarefa.pk %}">
                                        <button type="submit" class="btn btn-outline-primary btn-sm small ms-1">
                                            Excluir
                                        </button>
                                    </form>
                                </div>

                                {% elif tarefa.autor_tipo == 4 %}
                                <div class="d-flex justify-content-start">
                                    <form action="{% url 'home:Aviso Lido' tarefa.pk %}">
                                        <button type="submit"
                                                class="btn btn-outline-primary bg-gray-800 btn-sm small ms-1">
                                            Não Lido
                                        </button>
                                    </form>
                                    <button type="button" class="btn btn-outline-primary bg-gray-800 btn-sm small ms-1"
                                            disabled>
                                        Lido
                                    </button>

                                    {% elif tarefa.autor_tipo == 5 %}
                                    <button type="button" class="btn btn-outline-primary bg-gray-800 btn-sm small ms-1"
                                            disabled>
                                        Aprovado
                                    </button>
                                </div>

                                {% elif tarefa.autor_tipo == 6 %}
                                <div class="d-flex justify-content-start">
                                    <form action="{% url 'home:Painel Slots' %}">
                                        <button type="submit"
                                                class="btn btn-outline-primary bg-gray-800 btn-sm small ms-1">
                                            Painel 🎛️
                                        </button>
                                    </form>
                                    <form action="{% url 'home:Aviso Lido' tarefa.pk %}">
                                        <button type="submit"
                                                class="btn btn-outline-primary bg-gray-800 btn-sm small ms-1">
                                            Não Lido
                                        </button>
                                    </form>
                                    <button type="button" class="btn btn-outline-primary bg-gray-800 btn-sm small ms-1"
                                            disabled>
                                        Lido
                                    </button>
                                </div>

                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- Fim do HISTÓRICO DE TAREFAS -->

    </div>
    <!--Fim do Exibir conteúdo dos botões -->

</div>
<!-- Fim do off-canvas -->
