{% if tarefa.autor_tipo == 1 %}
<div class="d-flex justify-content-start">
    {% if tarefa.content_object.recibo_entregue %}
    <form action="{% url 'home:Recibo Entregue' tarefa.pk %}">
        <button type="submit"
                class="btn btn-outline-primary bg-gray-800 btn-sm small ms-1" title="Desmarcar como entregue">
            Não entregue
        </button>
    </form>
    {% else %}
    <form action="{% url 'home:Recibo Entregue' tarefa.pk %}">
        <button type="submit" class="btn btn-outline-primary btn-sm small ms-1" title="Confirmar entrega">
            Entregue
        </button>
    </form>
    {% endif %}

    {% if tarefa.lida %}
    <form action="{% url 'home:Tarefa Lida' tarefa.pk %}">
        <button type="submit" class="btn btn-secondary btn-sm small ms-1"
                title="Marcar notificação como não lida">
            Não lida
        </button>
    </form>
    {% else %}
    <form action="{% url 'home:Tarefa Lida' tarefa.pk %}">
        <button type="submit" class="btn btn-secondary btn-sm small ms-1"
                title="Marcar notificação como lida">
            Lida
        </button>
    </form>
    {% endif %}
</div>

{% elif tarefa.autor_tipo == 2 %}
<div class="d-flex justify-content-start">
    {% if tarefa.content_object.feito %}
    <form action="{% url 'home:Afazer Concluida' tarefa.pk %}">
        <button type="submit"
                class="btn btn-outline-primary bg-gray-800 btn-sm small ms-1" title="Marcar tarefa como não concluída">
            À fazer
        </button>
    </form>
    {% else %}
    <form action="{% url 'home:Afazer Concluida' tarefa.pk %}">
        <button type="submit" class="btn btn-outline-primary btn-sm small ms-1" title="Marcar tarefa como concluída">
            Feito
        </button>
    </form>
    {% endif %}
    {% if tarefa.lida %}
    <form action="{% url 'home:Tarefa Lida' tarefa.pk %}">
        <button type="submit" class="btn btn-secondary btn-sm small ms-1"
                title="Marcar notificação como não lida">
            Não lida
        </button>
    </form>
    {% else %}
    <form action="{% url 'home:Tarefa Lida' tarefa.pk %}">
        <button type="submit" class="btn btn-secondary btn-sm small ms-1"
                title="Marcar notificação como lida">
            Lida
        </button>
    </form>
    {% endif %}
</div>

{% elif tarefa.autor_tipo == 3 %}
<div class="d-flex justify-content-start">
    {% if tarefa.content_object.em_posse %}
    <form action="{% url 'home:Contrato Recebido' tarefa.pk %}">
        <button type="submit"
                class="btn btn-outline-primary bg-gray-800 btn-sm small ms-1" title="Marcar contrato como não recebido pelo locatário">
            Não Recebido
        </button>
    </form>
    {% else %}
    <form action="{% url 'home:Contrato Recebido' tarefa.pk %}">
        <button type="submit" class="btn btn-outline-primary btn-sm small ms-1" title="Marcar contrato como recebido pelo locatário">
            Recebido
        </button>
    </form>
    {% endif %}
    <form action="{% url 'home:Excluir Contrato' tarefa.content_object.pk %}">
        <button type="submit" class="btn btn-outline-primary btn-sm small ms-1" title="Excluir contrato">
            Excluir
        </button>
    </form>
    {% if tarefa.lida %}
    <form action="{% url 'home:Tarefa Lida' tarefa.pk %}">
        <button type="submit" class="btn btn-secondary btn-sm small ms-1"
                title="Marcar notificação como não lida">
            Não lida
        </button>
    </form>
    {% else %}
    <form action="{% url 'home:Tarefa Lida' tarefa.pk %}">
        <button type="submit" class="btn btn-secondary btn-sm small ms-1"
                title="Marcar notificação como lida">
            Lida
        </button>
    </form>
    {% endif %}
</div>

{% elif tarefa.autor_tipo == 4 %}
<div class="d-flex justify-content-start">
    {% if tarefa.lida %}
    <form action="{% url 'home:Tarefa Lida' tarefa.pk %}">
        <button type="submit" class="btn btn-secondary btn-sm small ms-1"
                title="Marcar notificação como não lida">
            Não lida
        </button>
    </form>
    {% else %}
    <form action="{% url 'home:Tarefa Lida' tarefa.pk %}">
        <button type="submit" class="btn btn-secondary btn-sm small ms-1"
                title="Marcar notificação como lida">
            Lida
        </button>
    </form>
    {% endif %}
</div>

{% elif tarefa.autor_tipo == 5 %}
<div class="d-flex justify-content-start">
    {% if tarefa.content_object.temporario %}
    <form action="{% url 'home:Revisar Locatário' tarefa.pk %}">
        <button type="submit" class="btn btn-outline-primary btn-sm small ms-1" title="Revisar dados antes de salvar">
            Revisar 📋
        </button>
    </form>
    {% else %}
    <form>
        <button type="button" class="btn btn-outline-primary bg-gray-800 btn-sm small ms-1"
                disabled>
            Aprovado
        </button>
    </form>
    {% endif %}
    <form action="{% url 'home:Excluir Locatario' tarefa.content_object.pk %}">
        <button type="submit" class="btn btn-outline-primary btn-sm small ms-1" title="Excluir Locatário">
            Excluir 🗑️
        </button>
    </form>
    {% if tarefa.lida %}
    <form action="{% url 'home:Tarefa Lida' tarefa.pk %}">
        <button type="submit" class="btn btn-secondary btn-sm small ms-1"
                title="Marcar notificação como não lida">
            Não lida
        </button>
    </form>
    {% else %}
    <form action="{% url 'home:Tarefa Lida' tarefa.pk %}">
        <button type="submit" class="btn btn-secondary btn-sm small ms-1"
                title="Marcar notificação como lida">
            Lida
        </button>
    </form>
    {% endif %}
</div>

{% elif tarefa.autor_tipo == 6 %}
<div class="d-flex justify-content-start">
    <form action="{% url 'home:Painel Slots' %}">
        <button type="submit" class="btn btn-outline-primary btn-sm small ms-1" title="Clique para ir para o painel">
            Painel 🎛️
        </button>
    </form>
    {% if tarefa.lida %}
    <form action="{% url 'home:Tarefa Lida' tarefa.pk %}">
        <button type="submit" class="btn btn-secondary btn-sm small ms-1"
                title="Marcar notificação como não lida">
            Não lida
        </button>
    </form>
    {% else %}
    <form action="{% url 'home:Tarefa Lida' tarefa.pk %}">
        <button type="submit" class="btn btn-secondary btn-sm small ms-1"
                title="Marcar notificação como lida">
            Lida
        </button>
    </form>
    {% endif %}
</div>

{% elif tarefa.autor_tipo == 7 %}
<div class="d-flex justify-content-start">
    <form action="{% url 'home:Conversa Dev' tarefa.content_object.pk %}">
        <button type="submit" class="btn btn-outline-primary btn-sm small ms-1" title="Clique para ver a reposta">
            Ler Resposta
        </button>
    </form>
    {% if tarefa.lida %}
    <form action="{% url 'home:Tarefa Lida' tarefa.pk %}">
        <button type="submit" class="btn btn-secondary btn-sm small ms-1"
                title="Marcar notificação como não lida">
            Não lida
        </button>
    </form>
    {% else %}
    <form action="{% url 'home:Tarefa Lida' tarefa.pk %}">
        <button type="submit" class="btn btn-secondary btn-sm small ms-1"
                title="Marcar notificação como lida">
            Lida
        </button>
    </form>
    {% endif %}
</div>

{% endif %}